.classFormHint {
	font-size: 80% !important;
	font-style: italic !important;
}
/****** classes for Disruption screen **********/
.disruptionDetail .disruptionExpandablePanel .sapMPanelBGTranslucent {
	background-color: #F5F5F5 !important;
}

.disruptionDetail .detailLabels {
	overflow: visible !important;
}

.disruptionDetail .formoperationDisruptionsModel>div>div {
	background-color: transparent !important;
}
.disruptionBottomBar {
	border-bottom: none !important;
}

.disruptionDetail .statusText {
	font-weight: 700 !important;
	font-style: italic !important;
}

.disruptionDetail .msgHeaderText {
	font-weight: 700 !important;
	text-transform: capitalize !important;
}

.disruptionDetail .msgColor {
	background: #F5F5F5 !important;
	color: #0f86ae !important;
}

/****** End of CSS for Disruption screen **********/

/* CSS for disruptionAckCommentDialogue */
#disruptionAckCommentDialogue {
	background: #ffffff;
	border: none;
	border-radius: 0;
	box-shadow: 0 0 5px #333;
}

#disruptionAckCommentDialogue-header-BarPH {
	background: #d4f1f7;
}

#disruptionAckCommentDialogue-title {
	color: #434343;
}

#disruptionAckCommentDialogue-cont {
	border-top: 3px solid rgba(255, 255, 255, 0);
}

#disruptionAckCommentDialogue-header {
	box-shadow: 0 0 5px #333;
	overflow: visible;
}

/********End of CSS for disruptionAckCommentDialogue */

/* CSS for disruptionCommentDialogue  */
#disruptionCommentDialogue {
	background: #ffffff;
	border: none;
	border-radius: 0;
	box-shadow: 0 0 5px #333;
}

#disruptionCommentDialogue-header-BarPH {
	background: #d4f1f7;
}

#disruptionCommentDialogue-title {
	color: #434343;
}

#disruptionCommentDialogue-cont {
	border-top: 3px solid rgba(255, 255, 255, 0);
}

#disruptionCommentDialogue-header {
	box-shadow: 0 0 5px #333;
	overflow: visible;
}
/********End of CSS for disruptionCommentDialogue */

/**** CSS for disruptionCloseDialogue**************/
#disruptionCloseDialogue {
	background: #ffffff;
	border: none;
	border-radius: 0;
	box-shadow: 0 0 5px #333;
}

#disruptionCloseDialogue-header-BarPH {
	background: #d4f1f7;
}

#disruptionCloseDialogue-title {
	color: #434343;
}

#disruptionCloseDialogue-cont {
	border-top: 3px solid rgba(255, 255, 255, 0);
}

#disruptionCloseDialogue-header {
	box-shadow: 0 0 5px #333;
	overflow: visible;
}
/****End of CSS for disruptionCloseDialogue ***/

/*** CSS for Footers ***********/
.viewDisruptionFooter {
	position: fixed;
	bottom: 0px;
	background: #607381 !important;
}

.viewDisruptionFooter .sapMBtnContent, .operationDetailFooter .sapMBtnIcon
	{
	color: #fff !important;
}
/*** end of CSS for Footer *********/