 /*** CSS for Sub header - Operation Details Sub Header and Menu Bar)  ******/
 
.operationDetailHeadPanel {
    overflow: visible;
    z-index: 1001;
}
.operationDetailHeadPanel .sapMPageBusyCoversAll>section .sapMIBar.sapMTB {
	margin:0!important;
	height: auto!important;
}
.operationDetailHeadPanel .sapMPanelExpandableIcon {
	display:none;
}
.operationDetailHeadPanel .mainText{
	font-size:1.2rem !important;
	color:#0085AD !important;
	font-weight:700 !important;
}
.operationDetailHeadPanel .subText{
	font-size:75% !important;
	color:#0085AD !important;
	font-weight:700 !important;
}


.operationDetailHeadPanel .sapMPanelWrappingDivTb{
	border-bottom:0px !important
}
.operationDetailHeadPanel .sapMPanelBGTranslucent, .operationDetailHeadPanel .operationDetailForm .sapUiRLContainer{
	background:transparent !important;
	border-bottom:0px !important;
}
.operationDetailHeadPanel .switchExecutionButton .sapMSwtHandle {
    width: 0.8rem;
    height: 0.8rem;
    left: 3rem;
}
.operationDetailHeadPanel .switchExecutionButton .sapMSwt {
    height: 1rem !important;
    background: #0D5D76;
    border-color: #0D5D76;    
}
.operationDetailHeadPanel .switchExecutionButton .sapMSwtOff:not(.sapMSwtAcceptReject) {
    background: #ffffff;
    border-color: #bfbfbf;
}
.operationDetailHeadPanel .ExecutionModeText, .operationDetailHeadPanel .switchExecutionButton  {
	padding:0;
}
.operationDetailHeadPanel.sapMPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB>:first-child {
	margin-right: 0;
}
.operationDetailHeadPanel.sapMPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB>:first-child div:nth-child(2), .operationDetailHeadPanel.sapMPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB>:first-child div:nth-child(2) div:nth-child(2) {
	align-items: center;
}
.operationDetailHeadPanel.sapMPanel .sapMPanelWrappingDivTb .sapMIBar.sapMTB>:first-child div:nth-child(2) .subText {
	color: #434343!important;
    font-weight: normal!important;
    font-size: 1rem!important;
    line-height: 3rem;
}

.operationDetailHeadPanel .sapMPanelWrappingDivTb {
	margin: -1rem -1rem 0 -1rem;
    padding: 1rem 1rem 0 1rem;
    background: #fff;
}
/*** End of CSS for Operation Details Sub Header  ******/

/**** CSS for Navigation Bar ****/

.opDetailNavToolbar{
	background:#fff;
    box-shadow: 0px 5px 15px -5px #0F2D65;
}
.opDetailNavToolbar ul.opDetailNav {
	margin-left: 0px;
}
.opDetailNavToolbar ul.opDetailNav li {
    border: 0px !important;
}
/*** End of CSS for Navigation Bar *****/

/**** CSS for Operation Icon Nav Bar *****/
.operationNavBar .countText{
	background:#009de0 !important;
	color:#fff !important;
}

.operationNavBar .sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #e52929 !important;
}

.progressBtnColor .sapMBtnIcon {
	color:#0085AD !important;
}

/*** CSS for Footers ***********/
.operationDetailFooter{
    position: fixed;
    bottom: 0px;
    background:#607381 !important;
}
.operationDetailFooter .sapMBtnContent, .operationDetailFooter .sapMBtnIcon{
	color:#fff !important;
}
/*** end of CSS for Footer *********/

/*** CSS for Execution Switch Button and text****/
.switchExecutionButton .sapMSwtHandle{
	width: 1rem;
    height: 1rem;
    left: 2.9rem;
}
.switchExecutionButton .sapMSwtOff>.sapMSwtInner{
	left: -2.8rem;
}

.operationDetailHeadPanel  .ExecutionModeText {
    font-style: italic;
    color: #0085AD;
    margin-right: 10px;
}
.operationDetailHeadPanel .ExecutionModeText.sapMTextBreakWord {
	color:#73d2e6;
}
/***End of CSS for Execution Switch Button and text****/

/*** CSS Button show / hide ***/

.operationDetailHeadPanel .sapMBtn.closeButton span  {
    color: #0D5D76;
}
.operationDetailHeadPanel .sapMBtn.expandButton span {
	color:#ccc;
}
/*** End CSS Button show / hide ***/


/*** CSS To Style Font and Border colors for Navigation Toolbar ***/
.operationDetailHeadPanel + .opDetailNavToolbar .sapMSegBBtn {
	position:relative;
}
.operationDetailHeadPanel + .opDetailNavToolbar .sapMSegBBtn:not(.sapMSegBBtnSel) {
    color: #ccc;
}

.operationDetailHeadPanel + .opDetailNavToolbar .sapMSegBBtn.sapMSegBBtnSel {
    color: #0D5D76;
    background: transparent;
    font-weight:bold;
}
.operationDetailHeadPanel + .opDetailNavToolbar .sapMSegBBtn.sapMSegBBtnSel:after {
	content: "";
	height: 4px;
	position:absolute;
	bottom:0;
	left:0;
	right:0;
	background:#FF5000;
}

.operationDetailHeadPanel + .opDetailNavToolbar {
	background:#fff;
    box-shadow: 0px 5px 5px -5px #434343;
    z-index: 1000;
    position: relative;
    border:0;
    height:auto;
}
html.sap-desktop .operationDetailHeadPanel + .opDetailNavToolbar .sapMSegBBtnFocusable:hover {
    background: rgba(0, 86, 112, 0.20);
    color:#0D5D76;
}

.operationDetailHeadPanel + .opDetailNavToolbar + .navContAutoHeight {
	border-top: 5px solid #ccc;	
}
/*** End of Styling of Navigation Toolbar ***/
