/* Pop-up Confirm Delete confirmDeleteDialog */
.ClassOperationDetailPopUp {
	background: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}

.ClassOperationDetailPopUp .sapMPageBusyCoversAll>section {
	overflow-y: scroll!important;
}
.ClassOperationDetailPopUp .sapMPageBusyCoversAll {
	background: #f5f5f5 !important;
}

.toolBarBottom{
border-bottom: none 
}
.alignCenter{
 text-align: center !important;
}