/**************************************
*classes for Progress Slider Screen
****************************************/
.proressSliderGrid  .sapUiRespGridSpanL8:nth-child(2){
	overflow:visible !important;
}


/************
*progress slider styling
*************/
.sliderDisplayStatus {
     height: 4rem !important;
}
.sliderDisplayStatus .sapMSliderHandle {
     height: 2.8rem !important;
}
.sliderDisplayStatus .sapMSliderInner,  .sliderDisplayStatus .sapMSliderProgress{
	    height: 1.1875rem !important;
}
/**** End of Styling Progress Slider***********/




.ML-05{margin-left:0.5rem !important;height: auto!important;}
.progressSlider{
	display:block !important;
}
.progressSlider .comfirmedProgressSlider{
	float:left !important;
}
.progressSlider .dynProgressSlider{
	    margin-left: -2.1rem !important;
}
.sliderInprogressColor .sapMSliderProgress{
	background-color: lime !important;
	//background: #007cc0;
}

.sliderBlockedColor .sapMSliderProgress{
	background-color: darkorange !important;
}
 .comfirmedProgressSlider{
	opacity:1 !important;
}
.sliderCompletedColor .sapMSliderProgress{
	background-color: #007cc0 !important;
}

.sliderInprogressColor .sapMSliderProgress{
	background-color: lime !important;
}
 /********** End of CSS for Progress Slider Screen *******/