/**************************************
*classes for Progress Slider Screen
****************************************/
.proressSliderGrid  .sapUiRespGridSpanL8:nth-child(2){
	overflow:visible !important;
}


.ML-05{margin-left:0.5rem !important;}
.progressSlider{
	display:block !important;
}
.progressSlider .comfirmedProgressSlider{
	float:left !important;
}
.progressSlider .dynProgressSlider{
	margin-left:-2.1rem !important;
}
.sliderInprogressColor .sapMSliderProgress{
	background-color: lime !important;
	//background: #007cc0;
}

.sliderBlockedColor .sapMSliderProgress{
	background-color: darkorange !important;
}
 .comfirmedProgressSlider{
	opacity:1 !important;
}
.sliderCompletedColor .sapMSliderProgress{
	background-color: #007cc0 !important;
}

.sliderInprogressColor .sapMSliderProgress{
	background-color: lime !important;
	//background: #007cc0;
}
.progressSliderColorGreen .sapMSliderProgress{
	background-color: rgb(132,196,65) !important;
}

.progressSliderColorBlue .sapMSliderProgress{
	background-color: #0085AD !important;
}

.btnConfirm .sapMBtnInner{
    background-color: white !important;
    color: black !important;
    border: 2px solid #0085AD !important;
}
.sliderJoin{
 	margin-left: -2.59rem !important;
    z-index:99;	
 }
 /********** End of CSS for Progress Slider Screen *******/
 /*** CSS for Sub header - Operation Details Sub Header and Menu Bar)  ******/
.pageSubHeader{
	border-bottom: 1px solid #cccccc !important;
}
.pageSubHeader .sapMPanelExpandableIcon {
	display:none;
}
.pageSubHeader .mainText{
	font-size:1.2rem !important;
	color:#0085AD !important;
	font-weight:700 !important;
}
.pageSubHeader .subText{
	font-size:75% !important;
	color:#0085AD !important;
	font-weight:700 !important;
}
.pageSubHeader .expandButton{
	margin-top: -0.6rem;
}
.pageSubHeader .closeButton{
	float:right;
	margin-top: -2rem;
}
.pageSubHeader .expandButton .sapMBtnIcon, .pageSubHeader .closeButton .sapMBtnIcon{
	font-size:1rem !important;
}
.pageSubHeader .sapMPanelWrappingDivTb{
	border-bottom:0px !important
}
.pageSubHeader .sapMPanelBGTranslucent, .pageSubHeader .operationDetailForm .sapUiRLContainer{
	background:transparent !important;
	border-bottom:0px !important;
}
/*** End of CSS for Operation Details Sub Header and Menu Bar  ******/
/**** CSS for Operation Icon Nav Bar *****/
.operationNavBar .countText{
	background:#009de0 !important;
	color:#fff !important;
}

.operationNavBar .sapMITBSelected>.sapMITBContentArrow {
    border-bottom-color: #e52929 !important;
}

.progressBtnColor .sapMBtnIcon {
	color:#0085AD !important;
}

/*** CSS for Footers ***********/
.operationDetailFooter{
    position: fixed;
    bottom: 0px;
    background:#607381 !important;
}
.operationDetailFooter .sapMBtnContent, .operationDetailFooter .sapMBtnIcon{
	color:#fff !important;
}
/*** end of CSS for Footer *********/

/*** CSS for Execution Switch Button and text****/
.switchExecutionButton .sapMSwt{
	height:1.2rem !important;
}
.switchExecutionButton .sapMSwtHandle{
	width: 1rem;
    height: 1rem;
    left: 2.9rem;
}
.switchExecutionButton .sapMSwtOff>.sapMSwtInner{
	left: -2.8rem;
}

.ExecutionModeText {
	padding-top: 10%;
    font-style: italic;
    color: #0085AD !important;
}
}
/***End of CSS for Execution Switch Button and text****/

