.AllignItem{
	Display:flex;
}
.adjustwidth{
	width: 85% !important;
}
.LinkColour > td:nth-child(1) > div > span:nth-child(2) {
  color: rgba(0, 86, 112, 0.94);
  text-decoration: underline; }
.LinkColour > td:nth-child(1):hover {
  background-color: rgba(196, 196, 196, 0.5) !important;
  cursor: pointer; }
  .LinkColour > td:nth-child(1):hover span {
    cursor: pointer; }