.margin {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}

.headerTileText {
	font-size: 18px;
	color: #ffffff;
}

.pageHeader .sapMSltArrow{
	background:transparent !important;
	color:#fff;
	
}
.CustomTileText {
	opacity: 0.6;
	font-size: 16px;
	color: #ffffff;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	margin-top: 1rem;
}

.IconTile {
	font-size: 5em;
	color: rgba(95, 137, 174, 1);
}

.customTiles {

	width : 14rem;
	height: 15rem;
	border: 1px solid #dddddd;
	border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
	background-color: rgba(12, 75, 131, 0.9);
	margin: 0.5rem;
	width: 13rem;
}

.titleToolbar {
	background-color: lightgrey;
}
 
.sapMSlt>.sapMSltLabel, .sapMSlt, .sapMSltArrow {
	line-height: 1.9rem;
	border: none;
	height: 1.9rem
}

.GenricBgColor {
	background-color: #EBEEF2;
}

.langbutton {
	float: left;
	width: 33.3%;
	color: black !important;
}

.langbutton .sapMBtnContent {
	text-align: start !important;
	font: 1.125rem !important;
}

.textSize {
	font: caption;
}

.PanelbgImg {
	background-color: white;
	background-image: url(../../../images/dottedCarbon.png);
	opacity: 3%;
	/* background-size: contain; */
	display: block;
	background-size: 100% 100%;
}


.tiffanyColor .sapMBtnInner.sapMBtnText {
	font-family: "Arial", Sans-serif !important;
	font-size: 14px !important;
}

.absolutePosition {
	position: absolute !important;
}
.sapMTCAnim div[data-enabled^="false"] {
	opacity: 0.6;
}
/*.sapMTCAnim div[data-enabled^="false"] .IconTile {
	color: rgb(181, 181, 181);
}*/
@media (min-width: 952px) and (max-width: 1229px) {
	#homePageView .sapMTC {
	    width: 80%!important;
	    margin: 0 auto;
	}	
}
@media (min-width: 1230px) and (max-width: 1589px) {
	#homePageView .sapMTC {
	    width: 62%!important;
	    margin: 0 auto;
	}	
}
@media (min-width: 1590px) and (max-width: 1895px) {
	#homePageView .sapMTC {
	    width: 52%!important;
	    margin: 0 auto;
	}	
}
@media (min-width: 1895px) {
	#homePageView .sapMTC {
	    width: 42%!important;
	    margin: 0 auto;
	}	
}

