/****************
STATIONTRACKER
*****************/
@mixin fillChart($fill){
    fill: $fill;
}
@mixin fillChartStroke($fill, $stroke, $width){
    fill: $fill;
    stroke: $stroke;
    stroke-width: $width;
}
