/****************
STATIONTRACKER
*****************/
@mixin fillChart($fill){
    fill: $fill;
}
@mixin fillChartStroke($fill, $stroke, $width){
    fill: $fill;
    stroke: $stroke;
    stroke-width: $width;
}
@mixin background($color){
    background-color: $color;
}
@mixin font($family, $weight : 400, $size : medium){
    font-family: $family;
    font-weight: $weight;
    font-size: $size;
}
@mixin trackerSolvedBlock($background, $height: inherit, $width: 100%){
    height: $height;
    width: $width;
    background: $background;
}
@mixin gradient($background){
    background: $background;
}
@mixin sapMPIBarType1($color1, $color2, $b1: ""){
    background: $b1;
    -ms-filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color1}, endColorstr=#{$color2}), GradientType=0)");
}
@mixin sapMPIBarType2($color1, $color2){
    background: -moz-linear-gradient(top, $color1 0, $color2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color1 0, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0, $color2 100%);
    background: linear-gradient(to bottom, $color1 0, $color2 100%);
    -ms-filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color1}, endColorstr=#{$color2}), GradientType=0)");
}
@mixin sapMPIBarType3($color1, $color2, $color3){
    background: -moz-linear-gradient(top, $color1 0, $color2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
    background: -webkit-linear-gradient(top, $color3 0, $color2 100%);
    background: -ms-linear-gradient(top, $color1 0, $color2 100%);
    background: linear-gradient(to bottom, $color1 0, $color2 100%);
    -ms-filter: unquote("progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$color1}, endColorstr=#{$color2}), GradientType=0)");
}

@mixin textHeader($fontSize : 24px, $color: white){
    font-family: "Arial", Sans-serif !important;
    font-size: $fontSize;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: $color;
}

