// Styles
@import '../styles/colours';
@import '../styles/buttons';

%icon{
    position: relative;
    z-index: 1;
    line-height: 23px;
    color: $white-two;
    overflow: hidden;
}
%oswIcon{
    position: relative;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    top: 5px;
    color: rgba(0, 86, 112, 0.94);
    overflow: hidden;
}
%trackerText{
    padding-left: 10px;
    position: relative;
    z-index: 1;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

%sapMPIText{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal !important;
    text-overflow: clip;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    line-height: 1.2em;
    color: $white-two;
    font-size: 100%;
    word-break: break-all;
}
