// Styles
@import '../styles/colours';

/*********************
GLOBAL
*********************/
%cssReset{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
%headerFilterBoxes{
    font-size: 16px;
    height: 3rem;
    margin: 0;
    line-height: 3rem;
    margin-right: 0px !important;
    border-right: solid 1px $twilight-blue !important;
    background: $teal-blue-hover !important;
    border: 0;
    
    .sapMSltLabel, .sapMSltArrow{
	    top: 0;
	    bottom: 0;
	    line-height: 3rem;
	    color: #F5F5F5;
	    font-size: 12px;
    }
}



/*********************
STATION TRACKER
*********************/
%icon{
    position: relative;
    z-index: 1;
    line-height: 24px;
    color: $white-two;
    overflow: hidden;
}
%oswIcon{
    position: relative;
    z-index: 1;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    top: 5px;
    color: $petrol;
    overflow: hidden;
}
%trackerText{
    padding-left: 10px;
    position: relative;
    z-index: 1;
    float: left;
    overflow: hidden;
    text-overflow: ellipsis;
}

%sapMPIText{
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal !important;
    text-overflow: clip;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    line-height: 1.2em;
    color: $white-two;
    font-size: 100%;
    word-break: break-all;
}
%sapMPanelExpandableIcon{
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
%sapMPanelExpandableIconExpanded{
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}
%datePickerInner{
    border: none;
    background-color: transparent;
    color: #F5F5F5;
    font-size: 16px;
    text-transform: uppercase;
    padding-left: 2.375rem;
    padding-right: 0;
}
%stationTrackerViewShiftAndUser{
    color: #F5F5F5;
    font-size: 16px;
    width: auto;
    height: 3rem;
    margin: 0;
    max-width: 100%;
    line-height: 3rem;
    text-transform: capitalize;
    margin-right: 0px !important;
    border-right: solid 1px #74d2e7 !important;
    background: $teal-blue-hover !important;
    border: 0;
}
%stationTrackerView{
    width: auto;
    //height: auto !important;
    //position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
%stationTrackerViewCustomHour{
    text-align: left;
    text-indent: -15px;
    border-left: none !important;
    background-color: transparent !important;
    color: #5e696e;
    font-size: 14px;
    line-height: 25px;
}
%customHourBefore{
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 7px;
    background-color: #5e696e;
}
%dhxtButton{
    position: absolute;
    width: auto;
    color: #52aec8;
    text-align: center;
    display: inline-block;
    font: normal normal normal 30px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: transparent;
    font-size: 30px;
    float: none !important;
}
%dhxItemFolder{
    border-right: solid 3px white;
    cursor: pointer;
}
%faChevron{
    position: absolute;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: #0F5F78;
}
%faChevronRight{
    position: absolute;
    right: 0;
    margin-left: 10px;
    margin-right: 10px;
    color: #0F5F78;
}
%timeSpanWidth{
    width: 3px !important;
}
%stationViewYlabelIconAndImage{
    width: 30px;
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    font-size: 16px;
    text-align: center;
    color: #0D5D76;
}
%stationViewYlabelUser{
    vertical-align: middle;
    margin-left: 10px;
    color: #0D5D76;
    font-size: 14px;
    font-weight: bold;
}
%yHrLabel{
    float: right;
    margin-right: 5px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: right;
    color: #8db9ca;
    line-height: 25px;
    max-width: 25%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
%ylabelUser {
    max-width: 75px;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 25px;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: $petrol;
}
%tracker-item-initial{
    color: #BBBCBC;
    padding-left: 10px;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    border: solid 2px #BBBCBC;
    background-color: #F5F5F5;
    overflow: hidden;
}
%sapMsegStationTracker{
    height: 3rem;
    border: none;
    border-right: 1px solid #8db9ca;
    background-color: transparent;
    color: #0D5D76;
    text-transform: uppercase;
    line-height: 3rem;
}
%comboBoxStyleStationTracker{
    width: auto;
    max-width: 100%;
    background-color: transparent;
    margin: 0 !important;
    border-right: 1px solid #8db9ca;
    height: 3rem;
}
%kpiPageHeader{
    -webkit-box-shadow: 0px 2px 15px -5px #0F2D65;
    -moz-box-shadow: 0px 2px 15px -5px #0F2D65;
    box-shadow: 0px 2px 15px -5px #0F2D65;
    border: none;
    position: relative;
    z-index: 10;
    margin-top:0.6rem;
}
%tooltip{
    visibility: hidden;
    position: absolute;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    z-index: 1;
    bottom: 115%;
    left: 50%;
    margin-left: -60px;
}
%dhx_scell_expand{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
%rond{
    color: white;
    display: inline-table;
    width: 20px !important;
    height: 20px !important;
    background: #3498db;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -o-border-radius: 100px;
    border-radius: 100px;
    float: left !important;
}
%ylabelfolder{
    padding: 0 30px;
    margin: 0;
    font-size: 12px;
    color: #0F5F78;
    font-weight: normal;
    box-sizing: border-box;
    width: 100%;
    display: inline-block;
    position: relative;
    overflow: hidden!important;
    text-overflow: ellipsis;
    white-space: nowrap;
}
%oswIcon2{
    position: relative;
    z-index: 1;
    line-height: 20px;
    height: auto;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 10px;
    float: right;
    top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: $petrol;
    overflow: hidden;
    background-color: $dandelion;
}
%trackerBoxTooltip{
    display: none;
    //background-color: black;
    //color: #fff !important;
    min-width: 430px;
    padding: 5px 2px;
    border-radius: 6px;
    position: absolute;
    z-index: 3;
    text-align:left;
}
%trackerBoxTooltip > .trackerText {
	padding-left:10px;
}
%customSapText2{
    margin-top: -1.1rem;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal !important;
    text-overflow: clip;
    display: inline-block;
    overflow: hidden;
    height: 1.2em;
    line-height: 1.2em;
    color: white;
    padding-left: 0.5rem;
    font-size: 100%;
    word-break: break-all;
}
%customSapText1{
    margin-top: -2.2rem;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal !important;
    text-overflow: clip;
    display: inline-block;
    overflow: hidden;
    height: 100%;
    line-height: 1.2em;
    color: white;
    font-size: 100%;
    word-break: break-all;
    width: 98.9% !important;
    padding-left: 8px;
}
%overallProgresstitleSpan{
    margin-top: -25px;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal !important;
    text-overflow: clip;
    display: inline-block;
    overflow: hidden;
    height: 1.2em;
    line-height: 1.2em;
    color: #004990;
    padding-left: 0.5rem;
    font-size: 100%;
    word-break: break-all;
}
%triangle{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 5px 0 5px;
    border-color: #000000 transparent transparent transparent;
    float: right;
    margin: 6px;
}
%hammer_swipe{
    width: 100%;
    height: 5%;
    border: 1px dashed grey;
    bottom: 0px;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}
%Save_reschedule{
    color: #747473;
    border: 1px solid #CECECE;
    background: 0 0;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: auto;
    font-size: 12px;
    font-weight: 700;
    font-family: arial;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
%classNotConfirmedOperation{
    position: absolute;
    width: 5px;
    background: #ee373d;
    left: -10px;
    top: -500px;
    height: 1000px;
}

/**********************
SETTINGS
***********************/
%pageHeader{
    box-shadow: 0px 2px 15px -5px $teal-blue-hover;
    border: none;
    border-top: 0.6rem solid $white-two;
    position: relative;
    z-index: 10;
}
%classSelectListBox{
    color: $petrol;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.125rem;
    font-family: Arial,Helvetica,sans-serif;
    height: 3rem;
    line-height: 3rem;
    padding: 0 1rem;
}