.test{
	background: red !important;	
}


.ganttBar {
	height : 2rem !important;
}

.sapMPIBarYellow {
	background: -moz-linear-gradient(top, #f1c40f 0, #f39c12 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f1c40f),
		color-stop(100%, #f39c12));
	background: -webkit-linear-gradient(top, #00923e 0, #f39c12 100%);
	background: -ms-linear-gradient(top, #f1c40f 0, #f39c12 100%);
	background: linear-gradient(to bottom, #f1c40f 0, #f39c12 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#f1c40f,
		endColorstr=#f39c12, GradientType=0)
}

.sapMPIBarBlue {
/* 	background: -moz-linear-gradient(top, #008cda 0, #006ca7 100%) !important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008cda),
		color-stop(100%, #006ca7)) !important;
	background: -webkit-linear-gradient(top, #008cda 0, #006ca7 100%) !important;
	background: -ms-linear-gradient(top, #008cda 0, #006ca7 100%) !important;
	background: linear-gradient(to bottom, #008cda 0, #006ca7 100%) !important; */ 
	background: #d8d8d8 !important;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#008cda,
		endColorstr=#006ca7, GradientType=0)
}

.sapMPIBarGreen {
/* 	background: -moz-linear-gradient(top, #00923e 0, #005f28 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #00923e),
		color-stop(100%, #005f28));
	background: -webkit-linear-gradient(top, #00923e 0, #005f28 100%);
	background: -ms-linear-gradient(top, #00923e 0, #005f28 100%);
	background: linear-gradient(to bottom, #00923e 0, #005f28 100%); */
	background: #7ED320 !important;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#00923e,
		endColorstr=#005f28, GradientType=0)
}

.sapMPIBarRed {
	background: -moz-linear-gradient(top, #e31c1c 0, #b51616 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e31c1c),
		color-stop(100%, #b51616));
	background: -webkit-linear-gradient(top, #e31c1c 0, #b51616 100%);
	background: -ms-linear-gradient(top, #e31c1c 0, #b51616 100%);
	background: linear-gradient(to bottom, #e31c1c 0, #b51616 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#e31c1c,
		endColorstr=#b51616, GradientType=0)
}

.sapMPIBarOrange {
	background: -moz-linear-gradient(top, #eb5200 0, #b84000 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eb5200),
		color-stop(100%, #b84000));
	background: -webkit-linear-gradient(top, #eb5200 0, #b84000 100%);
	background: -ms-linear-gradient(top, #eb5200 0, #b84000 100%);
	background: linear-gradient(to bottom, #eb5200 0, #b84000 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#eb5200,
		endColorstr=#b84000, GradientType=0)
}

.sapMPIBarDarkGrey {
	background: -moz-linear-gradient(top, #616161 0, #4d4d4d 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #616161),
		color-stop(100%, #4d4d4d));
	background: -webkit-linear-gradient(top, #616161 0, #4d4d4d 100%);
	background: -ms-linear-gradient(top, #616161 0, #4d4d4d 100%);
	background: linear-gradient(to bottom, #616161 0, #4d4d4d 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#616161,
		endColorstr=#4d4d4d, GradientType=0);
}

.sapMPIBarDarkGreen {
	background: -moz-linear-gradient(top, #005524 0, #003c19 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #005524),
		color-stop(100%, #003c19));
	background: -webkit-linear-gradient(top, #005524 0, #003c19 100%);
	background: -ms-linear-gradient(top, #005524 0, #003c19 100%);
	background: linear-gradient(to bottom, #005524 0, #003c19 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#005524,
		endColorstr=#003c19, GradientType=0);
}

.sapMPIAndon {
/* 	outline: none;
	height: 2.5rem;
	border-style: solid !important;
	border-width: 3px !important;
	border-color: DarkRed  !important; */
	background: #DB5550 !important;
}
/* .sapMPIText { */
/*     font-family: Arial,Helvetica,sans-serif; */
/*     font-weight: bold; */
/*     line-height: 2.5em; */
/*     white-space: nowrap; */
/*     /*padding-top:-40px; */
/*    	/*overflow: hidden; */
/*     white-space: nowrap; */
/*     text-overflow: ellipsis;*/
/* } */

.sapMPITextRight {
	color: white;
	display: block;
	float: left;
	padding-left: 0.5rem;
}
.gray_section{
		background-color: grey;
}
/* .sapMBarChild {
	font-weight: bold;
	vertical-align: middle;
	font-size: 17px;
} */

/* Test vertical-alignment DBA
.sapMPI {
	position: relative;
    width: 100%;
    height: 36px;
    line-height: 36px;
    border: 1px solid black;
    z-index: 0;
}

.sapMPI span {	
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    width: 100%;
    line-height: 1em;
    float: none;
    padding: 0;
    margin-top: -6px;
    color: white;
}

.sapMPIBar {
	position: absolute;
    height: 34px;
    top: 0px;
    left: 0px;
    z-index: -1;
}



.sapMPIBar span {
	display: none;
}
 */

/*   CSS Manal */
/* .sapMPIText {
	margin-top: -1.8rem;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal !important;
	line-height: normal !important;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	height: 2.5em;
	line-height: 1.75em;
	color: white !important;
	padding-left: 0.5rem;
	text-overflow: ellipsis;
	font-size: 130% !important;
	word-break: break-all;
} */

.sapMPIText1 {
	margin-top: -2.2rem;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal !important;
	text-overflow: clip;
	display: inline-block;
	overflow: hidden;
	height: 100%;
	line-height: 1.2em;
	color: white;
	font-size: 100%;
	word-break: break-all;
	width: 98.9% !important;
    padding-left: 8px;
}

.sapMPIText2 {
	margin-top: -1.1rem;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	line-height: normal !important;
	text-overflow: clip;
	display: inline-block;
	overflow: hidden;
	height: 100%;
	line-height: 1.2em;
	color: white;
	font-size: 100%;
	word-break: break-all;
	idth:100% !important;
}

.sapMPIText3 {
	float: right;
    margin-top: -29px;
    margin-right: 8px;
    width: 24px;
    height: 24px;
}

/* .sapMPITextRightBar {
	margin-top: -1.8rem;
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal !important;
	line-height: normal !important;
	text-overflow: ellipsis;
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	height: 100%;
 line-height: 1.75em;
	padding-right: 0.5rem;
	text-overflow: ellipsis;
	font-size: 130% !important;
	word-break: break-all;
} */

.dhx_cal_event.late div, .dhx_cal_event_line.late {
	border-color: Red;
	border-width: 2px;
	min-width:40px !important;
}
.dhx_cal_event.min-width div, .dhx_cal_event_line.min-width{
	min-width:40px !important;
}
/* same for initial tasks */
.dhx_cal_event.lateI div, .dhx_cal_event_line.lateI {
	border-color: red;
	border-width: 2px;
	background-color: #969696;
}

.dhx_cal_event_line .dhx_event_resize {
	background-image: none;
}

.dhx_event_resize_start {
	background-image: none;
}

.dhx_event_resize_end {
	background-image: none;
}

div#iconTabBar--header {
	background-color: #E0F2F4;
}

.sapMStdTileMonitorType {
	background-color: #9DCAD4;
}

.dhx_data_table.folder .dhx_matrix_cell {
	background-color: white;
}

.dhx_row_folder .dhx_matrix_scell.folder {
	background-color: white;
}

#hammer_swipe {
/* 	position: absolute; */
	width: 100%;
	height: 5%;
	border: 1px dashed grey;
	bottom: 0px;
	background-image: url('../pocaos/model/img/swipe.jpg');
	background-position: top center;
	background-repeat: no-repeat;
	background-size: contain;
}

.sectionusers  button {
	padding: 0;
}

.offtime {
	/* background-color: #ffa749; */
	/* opacity: 0.25; */
	background-image:  url('./img/fat_lines.png');
}

.initialSection {
	background-color: gray;
	color: white;
}

.scalebar {
	background-color: white;
	color: black;
	text-align: left;
}

.upperCaseConversion input {
	text-transform: uppercase;
}
/*	
.increaseBarHeight{
	height:5rem !important;
}
*/

/* WorkList */
.sapMILIDiv {
    text-align: left !important;
    margin-left: 0px !important;
}

.sapUiRespGrid.sapUiRespGridHSpace1>div{
	margin-bottom:0px !important;
}
.sapUiRespGrid.sapUiRespGridVSpace1>div{
	margin-botton:0px !important;
}
button.menuBtn {
	
      margin-right: 10px; /* !important; */
      margin-left: 10px; /* !important; */
      
   }

.allowWrapping {
	flex-wrap : wrap;
}

label.teamLabel {
	font-size: 2rem ;
	font-weight:bold;
}

button.textRed div.sapMBtnInner {
	 color : #FF0000 ;
	font-weight:bold;
}

.Save_reschedule {
    color: #747473;
    border: 1px solid #CECECE;
    background: 0 0;
    text-decoration: none;
    height: 30px;
    line-height: 30px;
    text-align: center;
    width: auto;
    font-size: 12px;
    font-weight: 700;
    font-family: arial;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.ComboBoxProdGroup{
	width:50% !important;
}
.ComboBoxInitial{
	width:18% !important;
}
.ComboBoxProdGroupMobile{
	width:90% !important;
}
.setFullResponsiveWidth{
	width: 100% !important;
}
 .topMargin{
	margin-top: 1.2em;
 }
.shrinkArea{
	padding : 0rem !important;
}
.sapUiFormM .sapUiFormResGridCont{
	padding : 0rem !important;
}
.fullWidth{
	width : 100%;
}

.homeHeaderBox{
	background-color: #ffffff;
}

.DialogWidth{
	width: 50%;
}
.noBorderToolbar{
	background-color: #ffffff !important;
	box-shadow: none !important;
	border : 0px !important;
	border-bottom: 0px !important;
}



.customTileBox{
	padding: 0.5rem;
	height: 10.5rem;
}

.textInfoGreen{
	color: green;
}

.textInfoRed{
	color: red;
}


/** Not totally confirmed operations in last shift **/
.classNotConfirmedOperation {
	position: absolute;
    width: 5px;
    background: #ee373d;
    left: -20px;
    top: -2px;
    height: 35px;
}
#stationTrackerView .dhx_matrix_scell div {
	overflow:visible;
}
/** END - Not totally confirmed operations in last shift **/

