/* The side navigation menu */
.sidenav {
    height: 0; /* height - change this with JavaScript*/ 
    width: 100%; /*100% Full-width */
    position: fixed; /* Stay in place */
     z-index: 101;/* Stay on top */
    bottom: 0; */
    left: 0;
    background-color: #4a4b4b; /* Black*/
    overflow-y: hidden; /* Disable horizontal scroll */
     
    margin-top: -1rem !important;
    transition: 0.10s; 
    transition-delay: 1s;/*transition effect to slide in the sidenav */
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
    transition: margin-right .5s;
/*     padding: 20px; */
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

.sidebarContentMargin{
	margin:0 1rem 1rem 1rem;
}

#stationTrackerView--disruptNotifications #disruptiontrackerView{
	height:100% !important;
}