.TrendGreen{
	color: #84bd00;
}

#team-popover button {
	display: block;
	width: 100%;
}

.yHrLabel {
	float: right;
	margin-right: 5px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	text-align: right;
	color: #8db9ca;
	line-height: 25px;
	max-width: 25%;
 white-space: nowrap;
 text-overflow: ellipsis;
 overflow: hidden;
}

.ylabelUser {
	max-width: 50%;
	white-space: nowrap;
	position: relative;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	line-height: 25px;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	color: rgba(0, 86, 112, 0.94);
}


.div.Left.sapSuiteDmcBarInternal {
	background: #006CA7;
}

.selectBoxStation {
	height: 30px;
	padding-left: 10px;
	width: 100px;
	position: relative;
}


.marginLeft0 {
	margin-left: 0 !important;
}

.partialConfirmCss .sapUxAPObjectPageSectionTitle {
	color: #006CA7 !important;
	border-bottom: 0px solid #999999 !important;
}

.partialConfirmCss2 .sapUxAPObjectPageSectionHeader {
	border-bottom: 0px solid #f2f2f2 !important;
}

.partialConfirmCss3 .sapUxAPObjectPageSectionHeader {
	height: 0rem;
}

.partialConfHeader .sapUxAPObjectPageHeaderIdentifier {
	background-color: #0085AD !important;
	/* 	background-color :#303539 !important;
 */
}

.whitePartialConfHeader .sapUxAPObjectPageHeaderIdentifierTitle {
	color: white !important;
}

.whitePartialConfHeader2 .sapUxAPObjectPageHeaderIdentifierDescription {
	color: white !important;
}

.lockCss .sapUxAPObjectPageHeaderLockBtn .sapMBtnTransparent>.sapMBtnIcon
	{
	color: #ED8E01;
}

.ylabel:hover .tooltip {
	visibility: visible;
}

.tooltip {
	visibility: hidden;
	position: absolute;
	width: 120px;
	background-color: #555;
	color: #fff;
	text-align: center;
	padding: 5px 0;
	border-radius: 6px;
	z-index: 1;
	bottom: 115%;
	left: 50%;
	margin-left: -60px;
}

.dhx_scell_expand {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.dhx_cal_date {
	visibility: hidden;
	z-index: -1;
}

.otherStations {
	background-color: #515456;
}

.Blue {
	background-color: #006CA7 !important;
	z-index: 1 !important;
}

.white {
	background-color: white ! important;
}

.whiteText {
	text-align: center ! important;
	color: white;
	width: 100%;
}

.disruptionText {
	color: white;
}

.classOpenDisruptionAndon div:first-child label , .classOpenDisruptionDisruption div:first-child label, .classOpenDisruptionDetail div:first-child label {
	padding-bottom: 5px;
}
.classOpenDisruptionTotal div:first-child label {
	padding-bottom: 0.2vw;	
}

.redText {
	text-align: center ! important;
	color: #fe5000;
	width: 100%;
}

.centerItems.NS.sapSuiteHdrCellNorth {
	text-align: center !important;
}

.whiteTextButton .sapMBtnTransparent {
	color: white !important;
	text-align: left;
	/* 	font-size: 17px; 
 */
}

.blackTextButton .sapMBtnTransparent {
	color: black !important;
	text-align: left;
}

.blackTextButton2 .sapMBtn {
	border-bottom-style: inset;
	border-top: none;
	border-left: none;
	border-right: none;
}

.blackTextButton2 .sapMBtnIcon {
	width: 3rem;
	font-size: 1rem;
}

.blackTextButton2 .sapMBtnContent {
	padding-left: 9px;
}

.alignTextLeft .sapMIBar-CTX .sapMTitle {
	font-family: "Verdana";
	font-weight: bold !important;
	padding-right: 75%;
}

.hachure {
	background-image: url(../img/fat_lines.png);
}

.panelContent .sapMPanelContent {
	padding: 0rem;
	background-color: #CCE6EE;
}

.panelContentList .sapMListBGSolid .sapMLIB {
	background-color: #CCE6EE;
}

.textBlackPanel .sapMTB-Transparent-CTX .sapMLabel {
	color: black;
}

.pageStation {
	background: #006CA7 !important;
}

.pageWelcome2 {
	font-weight: bold;
	text-align: center !important;
	color: white !important;
	font-family: "Arial", Sans-serif !important;
	font-size: 14px !important;
}

.stationTitle {
	color: #006CA7 !important;
	font-family: "Arial", Sans-serif !important;
	font-size: 24px !important;
}

.blueTitle {
	color: #006CA7;
}

.stationWelcome {
	color: #006CA7 !important;
	font-family: "Arial", Sans-serif !important;
	font-size: 14px !important;
}

.pageUsername {
	color: white !important;
	font-family: "Arial", Sans-serif !important;
	font-size: 14px !important;
}

.greenBottom {
	box-shadow: 0 5px 0 green;
}

.redBottom {
	color: red;
	box-shadow: 0 5px 0 red;
}

.rond {
	color: white;
	display: inline-table;;
	width: 20px !important;
	height: 20px !important;
	background: #3498db;
	-webkit-border-radius: 100px;
	-moz-border-radius: 100px;
	-o-border-radius: 100px;
	border-radius: 100px;
	float: left !important;
}

.grey {
	background-color: #97999b;
}

.grey2 {
	background-color: #dddddd;
}

.duck-egg-blue {
	background-color:#d5f1f8 !important;
}

.eventOrange {
	background-color: #F9DAAB;
	color: black;
}

.Hour {
	background-color: grey;
	opacity: 0.5;
	filter: alpha(opacity = 25);
}

.buttonNotif .sapMBtnContent {
	color: orange;
	font-weight: Bold;
	padding-top: 10px !important;
}

.notifDetails {
	font-size: smaller !important;
}

.sapMPIBarBlue {
	background: -moz-linear-gradient(top, #008cda 0, #006ca7 100%)
		!important;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #008cda),
		color-stop(100%, #006ca7)) !important;
	background: -webkit-linear-gradient(top, #008cda 0, #006ca7 100%)
		!important;
	background: -ms-linear-gradient(top, #008cda 0, #006ca7 100%) !important;
	background: linear-gradient(to bottom, #008cda 0, #006ca7 100%)
		!important;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#008cda,
		endColorstr=#006ca7, GradientType=0)
}

.sapMPIBarGrey {
	background: #d8d8d8 !important;
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#008cda,
		endColorstr=#006ca7, GradientType=0)
}

.orange {
	color: orange;
}

.contentNoPad .sapMPanelContent {
	padding: 0rem;
	background-color: #0F2D65;
	/*background-color: #178FB3;*/
	border-bottom: 1px solid #ffffff;
}

.sapMPIText2 {
	margin-top: -1.1rem;
	float: left;
	font-family: Arial, Helvetica, sans-serif;
	/*font-weight: bold;*/
	line-height: normal !important;
	text-overflow: clip;
	display: inline-block;
	/*white-space: nowrap;*/
	overflow: hidden;
	height: 1.2em;
	line-height: 1.2em;
	color: white;
	padding-left: 0.5rem;
	font-size: 100%;
	word-break: break-all;
}

.triangle {
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10px 5px 0 5px;
	border-color: #000000 transparent transparent transparent;
	float: right;
	margin: 6px;
}

.operatorList .sapMListHdr {
	text-align: left;
	font-size: small;
	font-weight: bold;
	border-bottom: 0px;
}

.initialCell {
	background-color: rgba(255, 255, 204, 0.5);
}

.margin {
	margin-left: 5px;
	margin-right: 5px;
}

.borderCell {
	background-color: rgba(242, 180, 87, 0.2);
}

.borderX {
	border-left: none !important;
	border-right: none !important;
	background-color: rgba(242, 180, 87, 0.2);
}

.borderY {
	border-top: none !important;
	border-bottom: none !important;
}

.boxColor {
	background-color: #ecf0f1;
	margin: 1px;
	border: 1px solid #bdc3c7;
}

.boxColorInitial {
	background-color: transparent;
	margin: 1px;
	border: 1px solid #bdc3c7;
}

.user {
	margin-left: 5px;
	margin-right: 5px;
}

.task {
	height: 50px !important;
}

.padding {
	padding: 5px;
}

.one_line {
	white-space: nowrap;
	overflow: hidden;
	padding-top: 5px;
	padding-left: 5px;
	text-align: left !important;
}

.progressIndicator {
	padding: 0px;
	margin: 0px;
	height: 1.5rem;
}

.spTitle {
	font-size: 20px;
}

.commentConfirmCss {
	border-right: 1px solid black;
	padding-right: 17px;
}

div#SPStatusInd.progressBarOP.sapMBarChild.sapMPI {
	border: none;
}

.pageHeaderDialog.sapMDialog>footer {
	background-color: rgba(0, 32, 91, 0.94) !important;
}

.begin_shifht {
	background-color: #ffa749;
	opacity: 0.25;
}

.noFooterDialog .sapMDialogStretchContent {
	height: 100% !important;
}

.closeWorklistCss .sapUxAPObjectPageHeaderActionButtonHideText .sapMBtnInner.sapMBtnIconFirst
	{
	color: white;
	padding-left: 0rem;
}

.toolbarSeparatorWhite {
	background: white !important;
}

.italicText {
	font-style: italic;
}

.smallIconButton .sapMBtnIcon {
	width: 10%;
}
/* .pageHeaderDialog.sap-desktop .sapMIBar.sapMFooter-CTX {
background-color: #0085AD !important;
} */

/********************************************************/
/*		 CSS for operation detail Pop-Up 			 	*/
/*******************************************************/
#operationDetailPopup--operationDetailPopUp-cont{
	/*overflow-y: scroll !important;*/
}
#operationDetailPopup--operationDetailPopUp-scrollCont{
	padding:0rem !important;
}

/*********** End of CSS for Operation Detail Pop-Up

/******* REFINED CSS *******/

/***** KPI Header Header *****/

#stationTrackerView--kpi_header .hiddenRefBar {
	display : none;	
}

#stationTrackerView--kpi_header .sapMPanelWrappingDivTb{
	border-bottom: none;
}

#stationTrackerView--kpiHeaderToolbar{
	margin-left: 0;
}

#stationTrackerView--kpiHeaderToolbar .sapMBtnContent,
#stationTrackerView--kpiHeaderToolbar .sapMSltLabel,
#stationTrackerView--kpiHeaderToolbar .sapMInputBaseInner,
#stationTrackerView--kpiHeaderToolbar .sapMSltArrow{
	color: #F5F5F5;
	font-size: 12px;
}

#stationTrackerView--kpi_header-CollapsedImg{
	right: 0;
	color: #74d2e7;
	display: none;
}

#stationTrackerView--kpi_header .sapMPanelExpandableIcon{
    -webkit-transform: translateY(-50%) rotate(180deg);
    -ms-transform: translateY(-50%) rotate(180deg);
    transform: translateY(-50%) rotate(180deg);
}
#stationTrackerView--kpi_header .sapMPanelExpandableIconExpanded {
    -webkit-transform: translateY(-50%) rotate(90deg);
    -ms-transform: translateY(-50%) rotate(90deg);
    transform: translateY(-50%) rotate(90deg);
}

#stationTrackerView--DatePicker,
#stationTrackerView--ProductionButton,
#stationTrackerView--DisruptionButton{
	border-right: solid 1px #74d2e7;
	margin-right: 0;
}

#stationTrackerView--DatePicker-inner{
	border: none;
	background-color: transparent;
	color: #F5F5F5;
	font-size: 16px;
	text-transform: uppercase;
	padding-left: 2.375rem;
	padding-right: 0;
}

#stationTrackerView--DatePicker .sapMInputValHelp{
	right: auto;
	left: 0;
}

#stationTrackerView--DatePicker .sapMInputValHelpInner{
	color: #F5F5F5;
	font-size: 24px;
}

#stationTrackerView--selectShift,
#stationTrackerView--selectUser{
	color: #F5F5F5;
	font-size: 16px;
	width: auto;
	height: 3rem;
	margin: 0;
	max-width: 100%;
	line-height: 3rem;
	text-transform: capitalize;
	margin-right: 0px !important;
	border-right: solid 1px #74d2e7;
}

#stationTrackerView--selectShift-label,
#stationTrackerView--selectShift-arrow,
#stationTrackerView--selectUser-label,
#stationTrackerView--selectUser-arrow{
	top: 0;
	bottom: 0;
	line-height: 3rem;
}

#stationTrackerView--ProductionButton,
#stationTrackerView--DisruptionButton{
	margin-left: 0;
}

#stationTrackerView--ProductionButton-inner:hover,
#stationTrackerView--ProductionButton:hover #stationTrackerView--ProductionButton-inner,
#stationTrackerView--DisruptionButton-inner:hover,
#stationTrackerView--DisruptionButton:hover #stationTrackerView--DisruptionButton-inner,
#stationTrackerView--TeamButton-inner:hover,
#stationTrackerView--TeamButton:hover #stationTrackerView--TeamButton-inner{
	background-color: transparent;
}

#stationTrackerView--TeamButton-img,
#stationTrackerView--TeamButton-content{
	color: #74d2e7 !important;
}

#stationTrackerView--hideKPI-img,
#stationTrackerView--hideKPI-content{
	color: #74d2e7 !important;
}



/***** KPI Header Cotent *****/

.classKpiHeaderContent {
	height: 195px;
	overflow-y: hidden;
}

.classKpiHeaderContent .contentHeaderCont {
	white-space: normal;
	background-color: #0F2D65;
	border-right: solid 1px #74d2e7;
	margin: 0px ! important;
	border-bottom: none;
	border-top: solid 1px #74d2e7;
}
.classKpiHeaderContent .contentHeaderCont:last-child {
	border-right:none;
}
.classKpiHeaderContent .sapSuiteCmpChartItemTitle,
.classKpiHeaderContent .sapSuiteCmpChartItemValue,
.classKpiHeaderContent label{
	color: #F5F5F5;
	font-size: 1vw;
}

.classKpiHeaderContent .sapSuiteCmpChartBarNoValue {
	background-color: rgba(187, 188, 188, 0.15);
}

.classKpiHeaderContent .kpiValue{
	font-size: 28px;
	width: 100%;
	text-align: center ! important;
}

.classKpiHeaderContent .kpiName{
	text-align: center ! important;
	width: 100%;
}

.classKpiHeaderContent .kpiErrorValue{
	color: #fe5000;
}

.classKpiHeaderContent .whiteTextHeader {
	white-space: normal;
	text-align: center ! important;
	color: white;
	width: 100%;
	font-size: 1.1vw;
}


/***** Gantt Chart *****/

/** Ticks **/
#stationTrackerView--stationtracker .customHour {
	text-align: left;
	text-indent: -15px;
	border-left: none !important;
	background-color: transparent !important;
	color: #5e696e;
	font-size: 14px;
	line-height: 25px;
}

#stationTrackerView--stationtracker .customHour:before{
	content: '';
	display: block;
	position: absolute;
	bottom: 0;
	width: 1px;
	height: 7px;
	background-color: #5e696e;
}

 /** Height + Scroll **/
#stationTrackerView--stationtracker{
	width: auto;
	height: auto !important;
	position: absolute;
	top:0;
	bottom:0;
	left: 0;
	right: 0;
}

#stationTrackerView--stationtracker .dhx_cal_data{
	overflow-y: scroll;
	bottom: 0;
	height: auto !important;
	border-top: solid 1px #979797;
}

/** Prev / Next buttons **/

#stationTrackerView--stationtracker .dhx_cal_header{
	border: none;
	width: 100% !important;
}

#stationTrackerView--stationtracker .dhx_cal_next_button{
	position: absolute;
	right: 0px;
	width: auto;
	color: #52aec8;
	text-align: center;	

	display: inline-block;
	font: normal normal normal 30px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background: transparent;

	font-size: 30px;
	float: none !important;
}
#stationTrackerView--stationtracker .dhx_cal_next_button:before{
	content:"\f105";
}

#stationTrackerView--stationtracker .dhx_cal_prev_button{
	position: absolute;
	right: 30px;
	width: auto;
	color: #52aec8;
	text-align: center;

	display:inline-block;
	font:normal normal normal 30px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	background: transparent;

	font-size: 30px;
	float: none !important;
}
#stationTrackerView--stationtracker .dhx_cal_prev_button:before{
	content:"\f104";
}

/** First column cells **/

#stationTrackerView--stationtracker .dhx_row_folder .dhx_matrix_scell.folder {
	background-color: #d5f1f8;
	border-bottom: solid 1px #EAFCFE;
}

#stationTrackerView--stationtracker .dhx_matrix_scell.item {
	border-bottom: solid 1px #d5f1f8;
	color: #0D5D76;
	background-color: #EAFBFD;
}

#stationTrackerView--stationtracker .dhx_matrix_scell.item,
#stationTrackerView--stationtracker .dhx_matrix_scell.folder {
	border-right: solid 3px white;
	cursor: pointer;
}

#stationTrackerView--stationtracker .dhx_matrix_scell.item.initial{
	cursor: default;
}

#stationTrackerView--stationtracker .dhx_scell_name{
	float: none;
	text-align: left;
	position: relative;
}

#stationTrackerView--stationtracker .dhx_cal_event,
#stationTrackerView--stationtracker .dhx_cal_event_line {
	/*
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
	border: none;
	*/
}

#stationTrackerView--stationtracker .dhx_matrix_cell div,
#stationTrackerView--stationtracker .dhx_matrix_scell div{
	text-align: left;
}

#stationTrackerView--stationtracker .dhx_row_folder .ylabelfolder{
	display: inline;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin: 0 30px;
	font-size: 12px;
	color: #0F5F78;
	font-weight: normal;
}

#stationTrackerView--stationtracker .dhx_row_folder .dhx_scell_name .fa-chevron-down,
#stationTrackerView--stationtracker .dhx_row_folder .dhx_scell_name .fa-chevron-right{
    position: absolute;
	left: 0;
    line-height: 20px;
    margin-left: 10px;
	margin-right: 10px;
	color: #0F5F78;
}

#stationTrackerView--stationtracker .dhx_row_folder .dhx_scell_name .fa-plus{
    position: absolute;
	right: 0;
    line-height: 20px;
    margin-right: 10px;
    margin-left: 10px;
	color: #0F5F78;
}

#stationTrackerView--stationtracker .dhx_row_folder .dhx_marked_timespan.begin_shifht,
#stationTrackerView--stationtracker .dhx_row_folder .dhx_marked_timespan.shiftCss,
#stationTrackerView--stationtracker .dhx_row_folder .dhx_marked_timespan.offtime {
	display: none;
}

#stationTrackerView--stationtracker .dhx_data_table.folder td {
	border-bottom: 2px solid #dddddd;
	background-color: #ECEEEF;
}
#stationTrackerView--stationtracker .dhx_row_folder .dhx_matrix_cell,
#stationTrackerView--stationtracker .dhx_row_folder .dhx_marked_timespan.shiftCss {
	border-right: none;
	border-bottom: none;
}

#stationTrackerView--stationtracker .folderAxisColor,
#stationTrackerView--stationtracker .dhx_row_folder .dhx_marked_timespan.shiftCss {
	background-color: #ECEEEF ! important;
}

#stationTrackerView--stationtracker .dhx_marked_timespan.dhx_matrix_now_time{
	border-left-color: #0f2d65;
	opacity: 1;
}

#stationTrackerView--stationtracker .dhx_row_item .dhx_scell_name{
	padding: 0 40px 0 0;
	white-space: nowrap;
}

#stationTrackerView--stationtracker .ylabelEditIcon,
#stationTrackerView--stationtracker .ylabelUserImage {
	width: 30px;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
	font-size: 16px;
    text-align: center;
    color: #0D5D76;
}

#stationTrackerView--stationtracker .ylabelUserImage {
	background-color: #D5F1F8;
    border-radius: 999px;
}

#stationTrackerView--stationtracker .yMoreLabel .fa-pencil{
    width: 30px;
    text-align: center;
}

#stationTrackerView--stationtracker .ylabelUser {
	vertical-align: middle;
	margin-left: 10px;
	color: #0D5D76;
	font-size: 14px;
	font-weight: bold;
}

#stationTrackerView--stationtracker .ylabel {
	white-space: nowrap;
	color: #0D5D76;
	vertical-align: middle;
}

#stationTrackerView--stationtracker .yMoreLabel {
	position: absolute;
	line-height: 30px;
	right: 5px;
	color: #8db9ca;
}

/** Content **/

#stationTrackerView--stationtracker .dhx_matrix_cell{
	background-color: #F3F5F6;
	border-bottom: 1px solid #dddddd;
	border-right: 1px solid #dddddd;
}

#stationTrackerView--stationtracker .tracker-item-initial{
	color: #BBBCBC;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0;
    top: 0;
    bottom: 0;
    box-sizing: border-box;
    text-overflow: ellipsis;
    border: solid 2px #BBBCBC;
    background-color: #F5F5F5;
}

#stationTrackerView--stationtracker .tracker-item-initial .fa-exclamation-triangle{
	color: #BBBCBC !important;
}

#stationTrackerView--stationtracker .shiftCss {
	background-color: #DDDDDD;
	opacity: 0.8;
}

#stationTrackerView--stationtracker .operationCP {
	background-color: #97999b;
	border: 2px solid #0D2C63;
}

/** Takt Adherence **/
.classTaktAdherenceTrend.sapUiRespGrid.sapUiRespGridHSpace1>div {
    margin: 0 0.5rem 0 0;
    line-height: 1rem;
}
.classTaktAdherenceTrend.sapUiRespGrid.sapUiRespGridHSpace1>.sapUiRespGridSpanL4 {
    margin: 0;
    width: auto;
}
.classKpiHeaderContent .classTaktAdherenceTrend .TrendGreen {
    margin-bottom: 0.5rem;	
}
.classKpiHeaderContent .classTaktAdherenceTrend .takt_kpi_name.takt_kpi_trend {
    font-size: 1vw;	
}

#stationTrackerView--takt_adherence_adherence_value {
	font-size: 15px;
}

.classKpiHeaderContent .takt_kpi_name {
	text-align: right !important;
    font-size: 0.85vw;
    vertical-align: middle;
    display: baseline;
}

.classKpiHeaderContent .takt_kpi_value {
    display: inline-block;
    vertical-align: baseline;
}

.classKpiHeaderContent .KPITaktChartBlueText {
	color: #74d2e7;
	margin-left: 10px;
}

.classKpiHeaderContent .KPITaktChartRightText {
	text-align: right ! important;
	width: 100%;
}

#stationTrackerView--LabourEfficiencyValue {
	text-align: center ! important;
}

/** Area Chart **/
svg#stationTrackerView--takt_adherence_area_chart {
	border: none;
}
.classTaktAdherenceAreaChart div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 20px;	
}
.classTaktAdherenceAreaChart div:nth-child(3) {
    position: absolute;
    top: 0;
    right: 15px;	
}
.takt_adherence_area_chart_svg-container {
    display: inline-block;
    position: relative;
    width: 100%;
    padding-bottom: 100%; /* aspect ratio */
    vertical-align: top;
    overflow: hidden;
}
.takt_adherence_area_chart_svg-content-responsive {
    display: inline-block;
    position: absolute;
    top: 10px;
    left: 0;
}

#stationTrackerView--takt_adherence_area_chart .yaxis {
	fill: white;
	font-size: 7px;
}

#stationTrackerView--takt_adherence_area_chart .yaxelabel {
	fill: white;
	font-size: 7px;
	margin-bottom: 2px;
}

#stationTrackerView--takt_adherence_area_chart .axis path, .axis line {
	fill: none;
	stroke: grey;
	shape-rendering: crispEdges;
}

#stationTrackerView--takt_adherence_area_chart .area { 
	fill: #E5002B;
}

#stationTrackerView--takt_adherence_area_chart .line {
	stroke-width: 1;
	stroke: #0D2C63;
	fill: none;
}

#stationTrackerView--takt_adherence_area_chart .realLine {
	stroke-width: 1;
	stroke: white;
	fill: none;
}
#stationTrackerView--takt_adherence_area_chart .estimateLine {
	stroke-width: 1;
	stroke: white;
	stroke-dasharray:10;
	fill: none;
}

#stationTrackerView--takt_adherence_area_chart .ygrid .tick {
	stroke: rgba(109, 147, 194, 0.39);
	opacity: 0.7;
}
#stationTrackerView--takt_adherence_area_chart .ygrid path {
	stroke-width: 0;
}

/** Box resolution efficiency **/
#stationTrackerView--boxResolutionEfficiency .boxResolutionEfficiencyGoodValue{
	color: #84bd00;
}

#stationTrackerView--boxResolutionEfficiency .boxResolutionEfficiencyBadValue{
	color: #fe5000;
}

#stationTrackerView--boxSLBEfficiecy_chart-chart-item-3,
#stationTrackerView--boxResolutionEfficiecy_chart-chart-item-3 {
	opacity: 0;
}

/** Shift Staffing **/
#stationTrackerView--shifStaffingHeader-dmc-chart .Left{
	background-color: #84bd00;
}

#stationTrackerView--shifStaffingHeader .sapSuiteDmcTitle,
#stationTrackerView--shifStaffingHeader .sapSuiteDmcLbls{
	font-size: 1vw;
}

#stationTrackerView--shifStaffingHeader .sapSuiteDmcCnt{
	right: 2rem;
}

#stationTrackerView--shifStaffingHeader .sapSuiteDmcDelta{
	color: white;
}

#stationTrackerView--shifStaffingHeader .sapSuiteDmcBarDeltaInt{
	background: #fe5000;
}

#stationTrackerView--shifStaffingHeader .sapSuiteDmcBarDeltaStripe {
	background-color: #74D2E7;
}

/** Station tracker Toolbar **/

#stationTrackerView--toolbarstationtracker {
	background-color: #D5F1F8 !important;
}

#stationTrackerView--buttonViewMode {
	height: 3rem;
	margin: 0;
}

#stationTrackerView--buttonViewMode .sapMSegBBtnFocusable {
    height: 3rem;
    border: none;
    border-right: 1px solid #8db9ca;
    background-color: transparent;
    color: #0D5D76;
    text-transform: uppercase;
    line-height: 3rem;
}

#stationTrackerView--buttonViewMode .sapMSegBBtnDis {
    height: 3rem;
    border: none;
    border-right: 1px solid #8db9ca;
    background-color: transparent;
    color: #0D5D76;
    text-transform: uppercase;
    line-height: 3rem;
}

#stationTrackerView--buttonViewMode .sapMSegBBtnFocusable.sapMSegBBtnSel {
    background-color: #74D2E7;
    color: white;
    /*font-weight: bold;*/
}
#stationTrackerView--toolbarstationtracker label {
	    color: #0D5D76;
	     padding: 0 0 0 0.625rem;
}
#stationTrackerView--toolbarstationtracker .comboBoxStyle {
    width: auto;
    max-width: 100%;
    background-color: transparent;
    margin: 0 !important;
    border-right: 1px solid #8db9ca;
    height: 3rem;
}

#stationTrackerView--toolbarstationtracker .comboBoxStyle label,
#stationTrackerView--toolbarstationtracker .comboBoxStyle .sapMSltArrow {
	background-color: transparent;
    color: #0D5D76;
    height: 3rem;
    line-height: 3rem;
}

#stationTrackerView--toolbarstationtracker .sapMBtnIconLeft,
#stationTrackerView--toolbarstationtracker .sapMBtnContent{
	color: #0D5D76;
}

#stationTrackerView--toolbarstationtracker .sapMBtn:hover>.sapMBtnTransparent.sapMBtnHoverable {
	background-color: transparent;
}

#stationTrackerView--toolbarstationtracker .sapMBtn:hover {
	background-color: rgba(0, 86, 112, 0.20);
}

#stationTrackerView--toolbarstationtracker .comboBoxStyle.sapMSltPressed .sapMSltArrow {
	background-color: #74D2E7;
}

.sapMPopoverScroll .sapMSelectListItemBaseSelected{
	background-color: #D5F1F8 !important;
}

/* Pop-up Polypoly */
#pop-up-polypoly {
	background: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}

#pop-up-polypoly-header-BarPH {
	background:#d4f1f7;

}
#pop-up-polypoly-header {
box-shadow: 0 0 5px #333;
}
#pop-up-polypoly-title {
	color:#434343;
}
#pop-up-polypoly-scrollCont {
	padding:0;
}
#pop-up-polypoly-cont {
	border-top:3px solid #ffffff;
}
#pop-up-polypoly-footer {
	background-color:#0F2D65;
}
#pop-up-polypoly .sapUiTableColHdrScr .sapUiTableColHdr:nth-child(2) .sapMLabel {
	border:none;
}

#pop-up-polypoly .sapUiTableColHdrScr .sapUiTableColHdr:nth-child(1) .sapMLabel {
    color: #468497;
    font-size: 0.975rem;
    padding-top: 4px;
}
#pop-up-polypoly .sapUiTableColHdrScr .sapUiTableColHdr:nth-child(2) .sapMLabel {
    color: #468497;
    font-size: 0.7rem;
}

/*DATE PICKER*/
.sap-desktop .classDateButton .sapMBtnTransparent>.sapMBtnIcon {
    color: #ffffff;
}
.sap-desktop .classDateButton .sapMBtnTransparent {
	border:none;
}
 .sapMTB-Transparent-CTX .classDateButton + .sapMLabel {
    text-shadow: none;
    color: #ffffff;
}
.sap-desktop .classDatePickerPop  .sapMIBar.sapMHeader-CTX {
	background: #d4f1f7;
    border: none;
    z-index: 9;
    position: relative;
}
.classDatePickerPop  .sapMPopoverArrUp:after {
	border-bottom-color: #d4f1f7;
}
.classDatePickerPop .sapMBtn {
    background-color: #73d2e6;
}
.classDatePickerPop .sapMBtn:hover>.sapMBtnHoverable, .classDatePickerPop .sapMBtn>.sapMBtnHoverable {
    background-color: transparent;
    background: transparent;
    border: none;
}
.classDatePickerPop .sapMBtn:hover {
    background-color: rgba(0, 86, 112, 0.20);
}
.classDatePickerButton.sapMBarChild.sapMBtn.sapMBtnBase {
	margin: 0 auto;
}
.classDatePickerButton span {
	color:#ffffff;
	text-shadow:none;
}

/*Worklist Popover*/
.classWorklistPopover header.sapMIBar.sapMHeader-CTX {
	background: #d4f1f7;
    box-shadow: 0 0 5px #333;
    z-index:1000;
}
.classWorklistPopover header.sapMIBar.sapMHeader-CTX label {
	color:#434343;
	font-size:1rem;
}
/*** CSS Kpi Header ***/
.kpiPageHeader {
	-webkit-box-shadow: 0px 2px 15px -5px #0F2D65;
	-moz-box-shadow: 0px 2px 15px -5px #0F2D65;
    box-shadow: 0px 2px 15px -5px #0F2D65;
    border: none;
    border-top: 0.6rem solid #ffffff;
    position: relative;
    z-index: 10;	
}

/*** End of Styling of  Kpi Header ***/
