/* Font size in the planning table for texts (TF, date, activity) */
.sapMListTbl .sapMText {
	font-size: 0.8rem;
}
.sapMIBar-CTX .sapMTitle {
    color: #f0f0f0 !important;
}
.sapUiLoSplitterH>.sapUiLoSplitterBar, .sapUiLoSplitterH>.sapUiLoSplitterContent, .sapUiLoSplitterH>.sapUiLoSplitterOverlay>.sapUiLoSplitterOverlayBar {
    background-color: white;
}
.sapMListHdr {
    background-image: linear-gradient(to bottom,#92C0E4 0,#6593B5 25%,#1E3C78 100%);
}
/* Table header with gradient */
.sapMListTbl th {
    background: #92c0e4;
    border-bottom: 1px solid #dddddd;
    background-image: linear-gradient(to bottom,#92C0E4 0,#6593B5 25%,#1E3C78 100%);
}
/* Blank and bold text in the table header */
.sapMListTbl th .sapMText {
	color: #f0f0f0;
	font-weight: bold;
}
/* Font size in the planning table for links (MSN, positions) */
.sapMListTbl .sapMObjectIdentifierTitle .sapMLnk {
	font-size: 0.8rem;
	overflow: hidden;
}
/* Font size in the planning table for highlighted texts (Confirmed date and time) */
.sapMListTbl .sapMObjStatus {
	font-size: 0.8rem;
}
/* Reduce the paddings in the planning table */
.sapMListTblCell {
	padding: .5rem .1rem;
}
/* Header text */
.sapMTitleStyleAuto {
    font-size: 1.5rem !important;
    font-family: Verdana !important;
}
/* No bar upside the Header*/
.sapMPageHeader::before {
    border-top: 0rem solid #92C0E4;
}
/* Header bar with gradient color */
.sap-desktop .sapMIBar.sapMHeader-CTX {
    background-image: linear-gradient(to bottom,#92C0E4 0,#6593B5 25%,#1E3C78 100%);
}
/* Sub Header bar without color */
.sapMIBar.sapMSubHeader-CTX {
    background-color: #dddddd;
}
.sapUiFormResGrid > .sapUiFormTitle {
    background-image: linear-gradient(to bottom,#92C0E4 0,#6593B5 25%,#1E3C78 100%);
}
.sapUiForm .sapUiFormTitle {
    color: transparent;
}
.sapMListHdr {
    color: transparent;
}
.sapMLIB {
    border: 1px solid #e5e5e5;
/* Text color in the MSN view */
}
.sapMObjStatusNone > .sapMObjStatusText, .sapMObjStatusNone > .sapMObjStatusIcon {
    color: #333367;
}
.sapMLabel {
    color: #000000;
    font-size: 0.875rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
}
div.sapMBtnInner.sapMBtnAccept {
    background-image: none;
    background-color: #007833;
    border-color: #005f28;
    color: #ffffff;
    border-radius: 0.9rem;
    text-shadow: none;
}
div.sapMBtnInner.sapMBtnEmphasized {
    background-image: linear-gradient(to bottom,#cccccc 0,#bfbfbf 25%,#666666 100%);
    border-radius: 0.9rem;
    background-color: #666666;
    border-color: #666666;
    /* color: #ffffff; */
    text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}


