body,
html {
  font-family: Arial,Helvetica,sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  vertical-align: middle;
}

.sapMBtn {
  display: none;
}

h1 {
  font-weight: normal;
}

#trackingtemplateView--showOnlyNotConfirmedConfirmationNote {
  padding: 10px;
  display: inline-flex;
}

#trackingtemplateView--showOnlyLastConfirmationNote {
  padding: 10px;
  display: inline-flex;
}

#trackingtemplateView--showOnlyLastWONote-CbBg {
  display: inline-block;
}

#trackingtemplateView--showOnlyLastWONote {
  align-items: center;
  display: flex;
  color: #666666;
  border-bottom: 1px solid #cccccc;
  padding: 10px;
}

#trackingtemplateView--commentBox {
  display: none;
}

.overflowCheckBoxConfirmationNoteBar {
  display: inline-flex;
  color: #666666;
  border-bottom: 1px solid #cccccc;
  width: 100%;
}


.wo-items {
  padding: 10px;
  min-height: 3rem;
  border-bottom: 1px solid #e5e5e5;
  display: flex;
  align-items: center;

}

.wo-items .wo-items-left-container {
  -webkit-flex: 2 0 0;
  flex: 2 0 0;
}

.wo-items .wo-items-left-container .wo-items-title {
  font-weight:bold;
  font-size: 1rem;
  padding-bottom: 0.375rem;
  display:block;
}

.wo-items .wo-items-left-container .wo-items-comments {
  padding-bottom: 0.375rem;
  display:block;
}

.wo-items .wo-items-left-container .wo-items-documents-container {
  padding-bottom: 0.375rem;
  display:block;
}

.wo-items .wo-items-date {
  -webkit-flex: 1 0 0;
  flex: 1 0 0;
}

.wo-items .wo-items-left-container .wo-items-documents-container .sapMFlexItem {
  display:inline-block;
  margin : 0 0 0 0.4rem
}