/* RESET CSS */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}
 /* EN RESET */

/* CSS for Hight:Auto for Content inside Nav Container */
.sapMNav.navContAutoHeight .sapMNavItem,
.sapMNav.navContAutoHeight .sapMPage > section{
	position:relative;
}
/** End **/

/** Global pop-up **/
#mes .sapMDialog:not(.theme-disabled) header {
    box-shadow: 0 0 5px #333;
    overflow: visible;
    background-color: #d4f1f7;
    color: #434343;
}
#mes .sapMDialog:not(.theme-disabled) footer {
	background-color: #0F2D65;
}
#mes .sapMDialog:not(.theme-disabled) {
    background: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;	
}
/** End **/

/** Global Button reset **/
#mes .sapMToggleBtnPressed, 
#mes .sapMIBar-CTX .sapMToggleBtnPressed, 
#mes .sapMTB-Transparent-CTX .sapMBtnInner.sapMToggleBtnPressed {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    text-shadow: none;
}
#mes .Subheader:not(.theme-disabled) button span:hover {
    background-color: transparent;
}
/** End **/

/** Global subheader Button **/
#mes .Subheader:not(.theme-disabled) button>div {
    border-radius: 0;
    border: 0;
    height: 3rem;
}
#mes .Subheader:not(.theme-disabled) button>div>span {
    line-height: 3rem;
    max-height: 3rem;
}
#mes .Subheader:not(.theme-disabled) button {
	padding:0;
}
#mes .Subheader:not(.theme-disabled) button:hover {
    background-color: rgba(0, 86, 112, 0.20);
}
#mes .Subheader:not(.theme-disabled) button[aria-pressed^="true"]:hover {
    background-color: rgb(73,164,188);
}
#mes .Subheader:not(.theme-disabled) button[aria-pressed^="true"] {
    background-color: #74D2E7;
}
#mes .Subheader:not(.theme-disabled) button[aria-pressed^="true"] span {
	color:#ffffff;
}
#mes .Subheader:not(.theme-disabled) button:hover>div.sapMBtnActive {
	color:#ffffff;
	background-color:#74D2E7;	
}
/** End **/


.sapUiBody#content {
	background-image:none;
}

.headerColorShell {
	background: rgba(0, 32, 91, 0.94);
}

.completedColor {
  background-color :#0085ad !important;
}
.activeColor {
  background-color :#84bd00 !important;
}
.andonColor {
  background-color :#e4002b
}
.blockedColor {
  background-color :#fbec00
}
.notStatedColor {
  background-color :#969696
}

.informationColor {
	background-color:#d5f1f8;
}

.rightPlace {
	right:0px !important;
	padding-right: 5px;
}

.iconbuttonTeam .sapMBtnIcon{
	width: 33px;
	height: 33px;
}

.iconButtonEnable{
	opacity:1;
	
}
.subHeaderButtonColor .sapMBtnContent, .subHeaderButtonColor .sapMBtnIcon{
	color: #74d2e7 !important;
}
.viewOpacity{
	opacity:0.5 !important;
}


/* globalNavView */
#globalNavView header.pageHeader #polypolytitle {
	font-size: 1.2rem;
}

#globalNavView header.pageHeader label[id^="__label"].pageWelcome {
	font-size: 1rem;
}
#globalNavView header.pageHeader label[id^="__label"].pageTitle {
	font-size: 1.3rem;
    text-transform: uppercase;
}
#globalNavView--SelectLanguage span, #globalNavView--SelectLanguage label, #globalNavView #globalNavView--informationButton-inner #globalNavView--informationButton-img,
#globalNavView #globalNavView--homeButton-inner #globalNavView--homeButton-img {
	color: #73d2e6;
}
#globalNavView--settingsButton {
	background-color: #73d2e6;
	margin-right: 0;
    padding: 0.250rem;
    color:#ffffff;
}
#globalNavView--settingsButton.sapMBtn:hover {
    background-color: rgba(255, 255, 255, 0.20);
}
#globalNavView--settingsButton.sapMBtn:hover>.sapMBtnHoverable {
    background-color: transparent;
    border-color:transparent;
    outline:1px dotted transparent;
}
.WhiteBG{
	background-color:#fff !important;
}

.messageHBox .sapMFlexItem{
	width:100%;
}

/*** CSS for Buttons **********/

.buttonAccept div.sapMBtnInner.sapMBtnAccept {
    background-image: none;
    background-color: #84bd00;
    color: #ffffff;
    text-shadow: none;
    border-radius:0;
    border:none;
}
.buttonReject div.sapMBtnInner.sapMBtnReject {
    background-image: none;
    background-color: #e5002b;
    color: #ffffff;
    text-shadow: none;
    border-radius:0;
    border:none;
}

/** End of CSS for buttons *****/

/** CSS for My Profile **/
.toolBarBottom{
	border-bottom: none;
}
[id^="myProfileCancel-img"] {
	background-color: red;
}
[id^="myProfileAccept-img"] {
	background-color: green;
}
/** End CSS for My Profile **/

/** CSS for setting popover fragment **/
.backgroundColor{
	background-color:black;
}
.backgroundColor .whiteText .sapMBtnContent{
	color:white !important;
}