/*.backgroundPolypoly .sapUiTableCtrl {
    background-color : #E4EFF4 !important;

}*/
/* tr:nth-child(1) td:nth-child(2), [id^="polypoly--oTablePolypoly-table-fixed"] tr:nth-child(1) td:nth-child(3) {
    background-color: #d4f1f7;
}*/

/* ---polypoly--oTablePolypoly-table -->ALL<---*/

/* ---sapUiTableColRowHdr---*/

/* ---polypoly--oTablePolypoly-table-fixrow---*/

/* ---polypoly--oTablePolypoly-table---*/

/* line hover */
/* BTN ADD POLY POLY */
/*#polypoly--AddPolypoly::after  {
content: "";
    width: 1px;
    background: #0D5D76;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -0.3125rem;
}*/

/* BTN accept reject */

/*header*/

/* Pop-up Create Polypoly */

/* Pop-up QA */

/* Pop-up Confirm Delete confirmDeleteDialog */
