.disruptions table th, td {
	text-align: center !important;
}

.disruptions table tr td:nth-child(2) {
	text-align: left !important;
	padding-left: 1.0rem !important;
}

.disruptions table td {
	border-left: 2px solid #E9EEF3 !important;
}

.disruptions .sapMListTblHasNav .sapMListTblRow>:nth-last-child(2) {
	border-right: 2px solid #E9EEF3 !important;
}

.disruptions .sapMObjStatusWarning>.sapMObjStatusIcon {
	color: rgb(244, 189, 108) !important;
}

.disruptions .sapMObjStatusText {
	color: black !important;
}

.disruptions .sapMListTbl th {
	background-color: rgb(230,236,242) !important;
}

.disruptions .sapMListTblNavCol {
	display:none !important;
}

.disruptions .sapMPanel, .sapMPage>.sapMPageHeader + section {
    background-color: #ffffff !important;
}

.disruptions .sapMPanelContent:not(.sapMPanelBGTransparent) {
    border-bottom: 0 !important;
    margin: 0.7rem 0.7rem 0 0.7rem!important;
    background-color:#e9fbfd;
}
.disruptions .sapMBtn {
    background-color: #d4f1f7;

}
.disruptions .sapMBtn:hover {
    background-color: rgba(0, 86, 112, 0.20);
}
.disruptions .sapMBtn:hover>.sapMBtnHoverable, .disruptions .sapMBtn>.sapMBtnHoverable {
    background-color: transparent;
    background: transparent;
    border:none;
}
.disruptions .sapMBtn span  {
    color: #0D5D76;
}
.disruptions table tr:nth-child(even) {
	background:#f7f9fb
}
.disruptions table tr:hover {
    background: #f0f0f0;
}        
.disruptions .sapMComboBoxTextField, .disruptions .sapMSFF {
    border: 1px solid #74D2E7;
}
.disruptions .sapMSFF {
	border-radius: 3em;
    border: 2px solid #74D2E7;
    color: #74D2E7;
    overflow: hidden;
    }
.disruptions .sapMSFF .sapMSFB.sapMSFS {
    color: #74D2E7;
}
.disruptions .disruptionsTable {
    width: auto !important;
    margin: 0.7rem 0.7rem 0 0.7rem;
}
section header[id^="__toolbar"] {
    box-shadow: 0px 2px 15px -5px #0F2D65;
    border: none;
    border-top: 5px solid #ffffff;
    position: relative;
    z-index: 10;
}
.disruptions .sapMTB{
	border-bottom: none !important;
}

.disruptions .sapMIBar.sapMSubHeader-CTX {
	color: white !important;
	background: #0F2D65 ! important;
	color: #FFFFFF !important;
}

.disruptions .sapMIBar.sapMSubHeader-CTX .headerText {
	font-size: 1.2rem !important;
}

