.titleToolbar {
	background-color: lightgrey;
}

.sapMSlt>.sapMSltLabel, .sapMSlt, .sapMSltArrow {
	line-height: 1.9rem;
	border: none;
	height: 1.9rem
}

.GenricBgColor {
	background-color: #EBEEF2;
}

.langbutton {
	float: left;
	width: 33.3%;
	color: black !important;
}

.langbutton .sapMBtnContent {
	text-align: start !important;
	font: 1.125rem !important;
}

.textSize {
	font: caption;
}

.PanelbgImg {
	background-color: white;
	background-image: url(../images/dottedCarbon.png);
	opacity: 3%;
	/* background-size: contain; */
	display: block;
	background-size: 100% 100%;
}
.absolutePosition{
	position: absolute !important;
} 