.absolute{
	position:absolute !important;
	height: 100% !important;
}

.invisible{
	visibility:hidden;
}
.ML-05{margin-left:0.5rem !important;}
.MR-1{margin-right:1rem !important;}
.MR-3{margin-right:3rem !important;}
.font90{font-size: 90% !important;}
.pointer{cursor:pointer !important;}
.floatLeft{float:left;}
.floatRight{float:right;}
.whiteColorText{color: white !important;}
.colorGreen{color: rgb(132,196,65) !important;}

.circleText{
  border-radius: 50%;
  text-align: center !important;
}
.operatorInitials{
  width: 2.3rem;
  height: 2.3rem;
  font-size: 1rem !important;
  color: #000;
  line-height: 2.5rem !important;
  background: #fff;
}
.operatorInitials2{
  width: 2rem;
  height: 2rem;
  font-size: 0.85rem !important;
  color: #fff;
  line-height: 2rem !important;
  background: #0085AD;
}
.img-circle {
    border-radius: 50%;
}
.countText{

  min-width:0px !important;
  width: 1.45rem;
  height: 1.45rem;
  border-radius: 50%;
  font-size: 0.7rem !important;
  color: #000;
  line-height: 1.45rem !important;
  text-align: center !important;
  background: rgb(242,177,77);
  margin-left: -0.75rem !important;
  //margin-top: 1.15rem !important;
  z-index:1 !important;
}

.title{
	font-size:1.5rem;
	font-weight:700;
}
.textRight{
	text-align:right !important;
}
.textWrap{
	 word-wrap: break-word;
}

.customListItem li{padding: 1rem 0.5rem !important;}

/* CSS for SubHeader Texts */
.WorkTrackerApp .text{
	font-size:1.2rem !important;
}
.WorkTrackerApp .text2{
	font-size:1.5rem !important;
}
.WorkTrackerApp .subText{
	font-size:75% !important;
}
.WorkTrackerApp .subText2{
	font-size:85% !important;
}


/**** CSS for header font colors *****/
.WorkTrackerApp .headerColor .sapMITH{
	background: #0085AD !important;
}
.WorkTrackerApp .headerColor .sapMITBHead .sapMITBText,
.WorkTrackerApp .headerColor .sapMITBHead .sapMITBFilterDefault,

.WorkTrackerApp .headerColor .sapMITBArrowScroll{
	color:#fff !important;
}


/***** CSS for Operator Change PopOver *******/
#operatorChangePopOver-scroll{
	height:100%;	
}
#operatorsList{
	height:90%;
	overflow:scroll;
}
/***** End of CSS for Operator Change PopOver *******/



/************************** CSS for Icon Bar *******************/
.WorkTrackerApp.sapUiResponsiveContentPadding section{
	padding: 0px !important;
}
.WorkTrackerApp .navbar .sapMITH{
	padding-top: 0.1rem !important;
}

/** CSS for Icon Bar Header **/
.WorkTrackerApp .navbar .sapMITBHead .sapMITBFilterIcon{
	background:none !important;
	border:none !important;
}
.WorkTrackerApp .navbar .sapMITBHead .sapMITBFilterIcon:before{
	font-size:1rem !important;
}
.WorkTrackerApp .navbar .sapMITBHead .sapMITBText{
	width:auto !important;
}
.WorkTrackerApp .navbar .sapMITBHead .sapMITBCount{
	font-size:0.8rem;
	margin-top: 0.6rem;
    margin-left: -0.6rem;
}

/** CSS for Icon Bar Scroll Arrows **/
.WorkTrackerApp .navbar .sapMITBArrowScroll{
	    margin-top: 1.2rem;
}

/** CSS for Icon Bar Selected Tab **/
.WorkTrackerApp .navbar .sapMITBHead .sapMITBSelected .sapMITBContentArrow{
	border-bottom-color:#fff !important;
}

/** CSS for Icon Bar Content **/
.WorkTrackerApp .navbar .sapMITBContent{
	height: 100%;
    overflow: scroll;
}
@media (max-width: 599px){
.WorkTrackerApp .navbar .sapMITBContent{
	padding:1rem !important;
}
}



/*********** CSS for List and Grid View ****************/
.WorkTrackerApp .gridPosition .sapUiRespGridSpanL12, .WorkTrackerApp .gridPosition .sapUiRespGridSpanL6,
.WorkTrackerApp .gridPosition .sapUiRespGridSpanL4, .WorkTrackerApp .gridPosition .sapUiRespGridSpanL3,
.WorkTrackerApp .gridPosition .sapUiRespGridSpanM12, .WorkTrackerApp .gridPosition .sapUiRespGridSpanM6,
.WorkTrackerApp .gridPosition .sapUiRespGridSpanM4, .WorkTrackerApp .gridPosition .sapUiRespGridSpanM3,
.WorkTrackerApp .gridPosition .sapUiRespGridSpanS12, .WorkTrackerApp .gridPosition .sapUiRespGridSpanS6,
.WorkTrackerApp .gridPosition .sapUiRespGridSpanS4, .WorkTrackerApp .gridPosition .sapUiRespGridSpanS3{
	position: relative;
}
.topRight{
	position: absolute;
	right: 0.6rem;
    top: 1rem;
}

.bottomRight{
	position: absolute;
	right: 0.6rem;
    bottom: 1rem;
}

.floatBottomRight{
	float: right;
	margin: 0 1rem 1rem 0;
}
.listColorBlue{
	background-color: #0085AD !important;
	color: white !important;
}
.listColorYellow{
	background-color: #4db1f2 !important;
	color: black !important;
}
.listColorRed{
	background-color: rgb(220,85,80) !important;
	color: white !important;
}
.listColorGreen{
	background-color: rgb(132,196,65) !important;
	color: black !important;
}
.listColorGrey{
	background-color: #d8d9d9 !important;
	color: grey !important;
}
.listBoldFont{
	font-weight: bold;
	font-size: medium;
}
/************ End List and Grid View CSS ****************/


/*** CSS for Sub header - Operation Details Sub Header and Menu Bar)  ******/
.pageSubHeader{
	border-bottom: 1px solid #cccccc !important;
}
.pageSubHeader .sapMPanelExpandableIcon {
	display:none;
}
.pageSubHeader .mainText{
	font-size:1.2rem !important;
	color:#0085AD !important;
	font-weight:700 !important;
}
.pageSubHeader .subText{
	font-size:75% !important;
	color:#0085AD !important;
	font-weight:700 !important;
}
.pageSubHeader .expandButton{
	margin-top: -0.6rem;
}
.pageSubHeader .closeButton{
	float:right;
	margin-top: -2rem;
}
.pageSubHeader .expandButton .sapMBtnIcon, .pageSubHeader .closeButton .sapMBtnIcon{
	font-size:1rem !important;
}
.pageSubHeader .sapMPanelWrappingDivTb{
	border-bottom:0px !important
}
.pageSubHeader .sapMPanelBGTranslucent, .pageSubHeader .operationDetailForm .sapUiRLContainer{
	background:transparent !important;
	border-bottom:0px !important;
}
/*** End of CSS for Operation Details Sub Header and Menu Bar  ******/

/**** CSS for Operation Icon Nav Bar *****/
.operationNavBar .countText{
	background:#009de0 !important;
	color:#fff !important;
}
/***** End of CSS for Operation Icon Nav Bar ************/

/********** CSS for Messages and activities*********/
.UnreadMessage{
	border: 1.5px solid #0085ad !important;
}
.activityList{
	color:#fff !important;
}
.activityList li{
	background:transparent !important;
}
.acctivityList li .circleText{
	background:#fff !important;
	color:#0085AD !important;
} 
/********  End of CSS for Messages **********/


/****** classes for Disruption screen **********/
.disruptionPanel .sapMPanelContent .formBackgroundPen  {
	background-color:#F2AA00 !important;
	opacity:1;
}
.disruptionPanel .sapMPanelContent .formBackgroundAck {
	background-color:lightgreen !important;
	opacity:1;
}
.disruptionPanel .formBorderPen .sapMPanelContent{
	background-color:#FCEECC !important;
	opacity:1;
}
.disruptionPanel .formBorderAck .sapMPanelContent {
	background-color:#E9FBE9 !important;
	opacity:1;
}
.disruptionPanel .barColor{
    background-color: #4E4E4E !important;
    }
    
.disruptionPanel .panelTitleText span {
    text-shadow: none !important;
    color:white !important;
    font-size: initial !important;
}
.decoratePanelBtn span{
	color:white !important;
	text-shadow: none !important;
}
/****** End of CSS for Disruption screen **********/


/********** classes for Progress Slider Screen *******/
.WorkTrackerApp .progressSlider{
	display:block !important;
}
.WorkTrackerApp .progressSlider .comfirmedProgressSlider{
	float:left !important;
}
.WorkTrackerApp .progressSlider .dynProgressSlider{
	margin-left:-2.2rem !important;
}
.progressSliderColorGreen .sapMSliderProgress{
	background-color: rgb(132,196,65) !important;
}

.progressSliderColorBlue .sapMSliderProgress{
	background-color: #0085AD !important;
}

.btnConfirm .sapMBtnInner{
    background-color: white !important;
    color: black !important;
    border: 2px solid #0085AD !important;
}
.sliderJoin{
 	margin-left: -2.59rem !important;
    z-index:99;	
 }
..
/********** End of CSS for Progress Slider Screen *******/
/********** CSS for icon text box *******/
.iconTextBox{
	    position: absolute;
    z-index: 19;
    margin-top: 42px;
}