
.sapUiUx3ShellToolPaletteArea{
background-color: aliceblue;
    top: 0;
    padding-top: 80px;
}
#myShell-paneBarRight{
background-color: aliceblue;
}
.sapUiUx3ShellPaneBarRight {
    background-color: aliceblue;
    top: 0;
    padding-top: 80px;
}

.sapUiUx3NavBarItemSel {
    color: #007cc0;
    font-size: 15px;

}

.sapUiUx3ShellHeader>hr {
    background-color: #009de0;
    height: 4px;
}

 .sapUiUx3NavBarItemSel .sapUiUx3NavBarItem {
    color: #007cc0;
        border-bottom-color:#74C1F8;
    border-bottom-style: solid;
     font: 10pt lighter;
    font-family: "Lao UI";
}


 .sapUiUx3NavBarItem {
         font: 7pt lighter;
    font-family: "Lao UI";
}

.sapUiUx3NavBarToplevel{
    background-color: aliceblue;
}

.sapUiUx3ShellHeader>h1 {
    //text-shadow: 1px 1px 1px #007cc0;
    color: #007cc0;
    font-size: 20px;
    font-family: "Lao UI";
    margin-left: 38pt;
    
}
.sapUiUx3ShellHeader>img {
max-height: 37px;
    margin-left: 39pt;
}
.sapUiUx3ShellHeader {
background-color: aliceblue;
    heigh: 33px;
}