 #idMainView--swapStationButton {
	transform: rotate(90deg);
	-ms-transform: rotate(90deg); IE 9
	-webkit-transform: rotate(90deg); Opera, Chrome, and Safari
} 
.lineTrackerSubheader{
	background-color: #d5f1f8 
}
 .noContentPadding .sapMDialogScrollCont{
	padding: 0rem !important;
 }

.factoryButton {
	height: 100%;
	min-height: 1.8rem;
}

.factoryButton>div {
	height: 100%;
}

.factoryButton>div>span {
	font-size: 2vh !important;
	line-height: 110% !important;
}

/* Factory station5 height adjust  */
.station5FacHeight {
	height: 100% !important;
}

.factoryStation5 .sapMFlexItem:nth-child(1) {
	height: 85%;
	/* max-width: 100%; */
	width: 100%;
}

.factoryStation5 .sapMFlexItem:nth-child(2) {
	height: 15%;
	width: 100%;
}

#idMainView--lineTrackerName {
	font-size: 1.2rem;
	color: white;
}
/*standard class. temporary fix */
/*to allow font scaling according to screen. No bad implications*/
#idMainView--lineTrackerSubheader .sapMBtnContent,
#idMainView--lineTrackerSubheader-BarLeft .sapMBtnContent,
#idMainView--lineTrackerToolbar .sapMBtnContent {
	font-size: 1.6vh;
}

.stationButtons {
	margin-top: 1%;
	width: 15%;
	height: 100%;
	align-items: center;
}

.stationButtons>div {
	height: 36%;
}

.stationTiles {
	margin-top: 1%;
	width: 75%;
	height: 100%;
	align-items: center;
}

.stationTiles>div {
    flex: 1;
	width: 100%;
}

.stationTilesHbox>div {
	height: 100%;
	width: 100%;
}

.productionTile>div {
	height: 33.3333333%;
}

.factoryButton>span {
	font-size: 2vh;
}

.productionLine5>div {
	height: 100% !important;
	width: 100% !important;
}

.productionLine5Station>div {
	height: 100% !important;
	width: 14%;
}

.productionLine1>div {
	height: 100% !important;
	width: 100% !important;
}

.productionLine2>div {
	height: 100% !important;
	width: 100% !important;
}

.productionLine3>div {
	height: 100% !important;
	width: 100% !important;
}

.station5Border {
	border-style: groove;
}

.factHBox {
	width: 100% !important;
	height: 98% !important;
	margin-top: 2%;
	justify-content: space-around;
}
/*alignment of pulse button and drop down*/
.adjustPulseSelect .sapMFlexItem:nth-child(1) {
	width: 160%;
}

.adjustPulseSelect .sapMFlexItem:nth-child(2) { //
	width: 40%;
}

.transferIsle {
	width: 100%;
	background-color: #add8e6;
	height: 6%;
	justify-content: space-around;
	align-items: center;
	font-size: 2vh;
	margin-top: 0.5%;
	margin-bottom: 0.5%;
}

.factStationBoxImg {
	width: 31%;
	height: 65%;
	margin-top: 5%;
}

.prductionMainBox {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;

}
.prductionMainBox > div .sapMFlexItem {
	border-right:1px solid #ccc;
}
.prductionMainBox > div:first-child .sapMFlexItem {
	border-right:none;
}
.prductionMainBox>div {
	width: 100%;
	height: 100%;
	min-width: 8rem;
}

.productionStationBox {
	width: 100%;
	height: 100%;
}

.productionProductionBox {
	width: auto;
	height: 100%;
}

.productionView>.sapUIView {
	height: 100% !important;
}

.HBox {
	margin-left: 1%;
	margin-right: 1%;
	width: auto;
}

.minHeight2 {
	min-height: 176px;
}

.minHeight1 {
	min-height: 140px;
}

.zeroHeight {
	height: 0;
}

.panelHeader .sapMPanelHdr {
	/* font-size: 140% !important;
	padding-top: 10%; */
	text-align: center;
	font-size: 1.5vh;
}

.panelHeader>div {
	height: 75% !important;
}

.factory_lineButton {
	height: 100%;
	color: #007cc0;
	background-color: #ddeff1;

}
.factory_lineButton .sapMFocusable {
    background: #d5f1f8;
    color: #0D5D76;
    font-weight: bold;
    border: 0;
	text-shadow:none;
    }
.factory_lineButton:hover .sapMFocusable, .factory_lineButton:focus .sapMFocusable {
	background-color: rgba(222,222,222,0.5);
}
.factory_lineButton>span {
	font-size: 120%;
}

.tiPanel {
	margin-top: 2% !important;
}

.factory_minHeight {
	min-height: 6.5rem;
}

.TransferIsleHbox {
	min-height: 10rem;
}

.myShell>.sapUiUx3ShellHeader>.sapUiUx3ShellHeaderTitleLeft>img {
	max-height: 30px !important;
}

.minWidthVBox {
	margin-top: 1%;
	min-width: 125px;
}

/* refresh slider css */
.sapMSlider {
	height: 1.5rem !important;
}

.sapMSliderProgress {
	position: relative;
	margin-right: 4rem !important;
}

.sapMSliderHandle {
	margin-left: 0 !important;
	top: -0.30rem !important;
	height: 0.5rem !important;
	width: 0.5rem !important;
}

.myPulseButton>.sapMBtnInner.sapMBtnText {
	font-size: 100%;
}

.ToggleBtnPressed {
	color: #ffffff !important;
	background-color: #007cc0 !important;
	border-color: #006ca7 !important;
}

.myCustomTile {
	width: 9rem !important;
	height: auto !important;
	margin: 0.5rem !important;
}

.FixCustomTileShape {
	width: 8rem !important;
	height: auto !important;
	margin: 0.1rem !important;
}

.myVLayoutProdLine {
	overflow: visible important!;
	padding-top: 2%;
}

.myStationTile {
	background-color: white;
	height: 85% !important;
	width: 100% !important;
}
@-webkit-keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
@keyframes blinker { from {opacity:1.0;} to {opacity:0.0;} }
.headBlinker {
	color:#BA000B;
	text-decoration: blink; 
    animation-name: blinker;
    animation-iteration-count: infinite;
    animation-timing-function: cubic-bezier(1.0,0,0,1.0);
    animation-duration: 1s;
    -webkit-animation-duration: 1s; 
}
/*user affectation HBox class to display contents in proper way*/
.displayUsersAffectationBox .sapMFlexItem:nth-child(1){
	width:100%;	
}
.displayUsersAffectationBox .sapMFlexItem:nth-child(2){
	width:10%;
}

/* subheader and segmented buttons */

#idMainView--IconTabsPages {
	height: 3rem;
	margin: 0;
}


#idMainView--IconTabsPages .sapMSegBBtnDis {
	height: 3rem;
	border:0;
	line-height: 3rem;
}


#idMainView .sapMSegBBtn.sapMSegBBtnMixed .sapUiIcon {
    display: inline-block;
    vertical-align: top;
    padding: 0.250rem 0.25rem 0.250rem 0;
    color: #0D5D76;
}
#idMainView .sapMSegBBtnFocusable.sapMSegBBtnSel .sapUiIcon {
    color: #ffffff;
}
#idMainView--IconTabsPages .sapMSegBBtnFocusable.sapMSegBBtnSel {
    background-color: #74D2E7;
    color: white;
    font-weight: bold;
}

#idMainView--IconTabsPages .sapMSegBBtnFocusable {
    border: none;
    height: 3rem;
    line-height: 3rem;
    display: inline-block;

    vertical-align: top;
    border: none;
    color: #0D5D76;
    background-color: transparent;
}
