.customTable .toolbar {
	background-color: #D5F1F8 !important;
	border: none !important;
	height: auto !important;
}
.customTable table tr th,td{
    text-align: center !important;
	vertical-align: middle !important;
	border-left: 2px solid #60B5CD !important;
}

.customTable table tr th div {
	border: none !important;
}

.customTable table tr th span {
    text-align: center !important;
}

.customTable table tr th,td span, .headerColumnText {
    text-align: center !important;
}

.customTable .taktHeading {
	color: #75ACC1 !important;
	font-size: 1vw !important;
}

.customTable table tr th:nth-child(1), td:nth-child(2), th:nth-child(2) {
	background-color: #FFFFFF !important;
}

.customTable table tr td:nth-child(2), th:nth-child(2) {
	background-image: url("grid.svg");
	vertical-align: middle !important;
}

.customTable table tr th:nth-child(2) .sapMFlexItem {
	width: 100% !important;
}

.customTable .sapMListTblCell{
	padding: 0rem 0rem !important;
	
}

.customTable table tr th:nth-child(n+3) {
	background-color: #D5F1F8 !important;
}

/* .customTable table tr th:nth-child(1) {
	width: 22vw !important;
} */

.customTable table tr td:nth-child(5) > span {
	font-size: 1.5rem !important;
	color: #5B707E !important;
}

.customTable table tr td:nth-child(6) > span {
	font-size: 1.5rem !important;
	color: #FE5102 !important;
}

.customTable table tr td:nth-child(7) > span {
	font-size: 1.5rem !important;
	color: #5B707E !important;
}

.customTable table tr td:nth-child(8) > span {
	font-size: 1.5rem !important;
	color: #FE5102 !important;
}

.customTable .stationBtns {
	height: 2rem !important;
    font-size: 2rem !important;
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.customTable .stationBtns:nth-child(1) span {
	font-size: 1rem !important;
}

/* .customTable .stationBtns div {
	padding-left: 0 !important;
	padding-right: 0 !important;
} */

.customTable .sapMBtnInner {
	height: 2rem !important;
    font-size: 1rem !important;
}

.customTable .stationBtns .sapMBtnContent {
	line-height: 2rem !important;
}

.customTable .stationBtns .sapMBtnIcon {
	line-height: 2rem !important;
    font-size: 1.3rem !important;
}

.customTable .stationBtns input {
	height: 2rem !important;
    font-size: 1rem !important;
}

.customTable .stationBtns .sapMInputValHelp {
	height: 1.9rem !important;
}

.customTable .stationBtns .sapMInputValHelpInner {
	height: 1.9rem !important;
    line-height: 2rem !important;
}

.customTable .stationBtns:nth-child(2) {
	margin-right: 0.5rem !important;
}

.stationBtns.sapMBtn>.sapMBtnInner {
    text-align: center !important;
}

.dialogForm .sapMFlexItem:nth-child(2) {
	width: 100% !important;
}

.customTable .progressBar {
	margin-left: 0.15rem !important;
}

.customTable .stationPopoverBtns div span {
	background-color: #FFFFFF; !important;
}

