// Functions
@import 'functions/mixins.scss';
@import 'functions/placeholders.scss';

// Styles
@import 'styles/colours';
@import 'styles/buttons';

// ============== Components ===============

/* WORK TRACKER / STATION TRACKER */
@import 'components/stationtracker';
@import 'components/kpiheader';

/*************
GENERALE RULES
**************/

#mes{
	.sapMPI{
		 margin: 1.25rem 0;
	}
}

#mes{
	#content{
		#globalNavView{
			#globalNavView--refreshTime-inner, #globalNavView--localDELog-inner{
					color: #73d2e6 !important;
					text-shadow: none;
			}
		
			#globalNavView--refreshTime-img{
					color: #73d2e6;
					text-shadow: none;
			}
		
			.sapMBtn:hover>#globalNavView--refreshTime, 
			.sapMBtn:hover>#globalNavView--localDELog{
			    background-color: rgba(255, 255, 255, 0.20);
			}

		}
	}
}


