.elementContainer {
	margin: 15% 0% 0% 22%;
}

.elementContainer-header {
	background-color: lightgrey;
}

.footerToolbar {
	background-color: #5E696E;
	margin: 0% 0% 0% 22%;
}

.buttonLoad>.sapMBtnText {
	color: white !important;
}

.GenricBgColor {
	background-color: #EBEEF2;
}

.titleToolbar {
	background-color: #D8D8D8;
}

.sapMSlt>.sapMSltLabel, .sapMSlt, .sapMSltArrow {
	line-height: 1.9rem;
	border: none;
	height: 1.9rem
}

.subHeader {
	background-color: white !important;
}

.subHeaderText {
color: black !important;
font-style: normal !important;
	
}