.elementContainer {
	margin: 15% 0% 0% 22%;
}
.PanelbgImg2 {
	background-color: white;
	opacity: 3%;
	/* background-size: contain; */
	display: block;
	background-size: 100% 100%;
}
.elementContainer-header {
	background-color: lightgrey;
}

.footerToolbar {
	background-color: #5E696E;
 */}

.buttonLoad>.sapMBtnText {
	color: white !important;
}

.GenricBgColor {
	background-color: #EBEEF2;
}

.titleToolbar {
	background-color: #D8D8D8;
}

.subHeader {
	background-color: white !important;
}

.subHeaderText {
color: black !important;
font-style: normal !important;
	
}
.whiteButton .sapMBtnIcon {
	color: white;
}

.pageHeader {
	color: white !important;
	background: #0F2D65 ! important;
	border: 0;
}

.pageTitle {
	color: white !important;
	font-family: "Arial", Sans-serif !important;
 font-size: 30px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.pageWelcome {
	color: white !important;
	font-family: "Arial", Sans-serif !important;
 font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  color: #ffffff;
}

.pageUsername {
	color: white !important;
	font-family: "Arial", Sans-serif !important;
	font-size: 14px !important;
}

.sapMListHdr {
    background-color: #d5f1f8;
}

.sap-desktop .sapMIBar.sapMHeader-CTX {
    background: rgba(0, 32, 91, 0.94);
    
}
.sapMIBar-CTX .sapMTitle {
	color: white;
}

.sapUiFormTitle  {
	 background-color: #d5f1f8;
	 
}
.sapUiFormTitle .sapUiFormTitle {
	color: white;
}

.sapMPageHeader::before {
    border-top: 0rem solid #92C0E4;
}
.sapMIBar.sapMSubHeader-CTX {
    background-color: #d5f1f8;
}

.sapMPage>.sapMPageHeader + .sapMPageSubHeader + section {
	background-color: white;
}
#globalNavView .sapMIBar-CTX .sapMBtnTransparent {
	color:#ffffff;
}
[id^="View1--nav"] {
	color: rgba(0, 86, 112, 0.94);
	font-weight: bold;
}
[id^="View1--currMSN"] {
	font-weight: bold;
}
[id^="View1--headText"]>.sapUiForm .sapUiFormTitle{
	color: rgba(0, 86, 112, 0.94);
}

[id^="View1--headText"]{
	color: rgba(0, 86, 112, 0.94);
}

[id^="View1--nav"]>.sapMBtnIcon
{
	color: rgba(0, 86, 112, 0.94) !important;
}

/* errorMessageDialog */

/* Pop-up Confirm Delete confirmDeleteDialog */
#messageDialog--errorMessageDialog {
	background: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}

#messageDialog--errorMessageDialog-header-BarPH {
	background:#d4f1f7;

}
#messageDialog--errorMessageDialog-title {
	color:#434343;
}
#messageDialog--errorMessageDialog-cont {
	border-top:3px solid  rgba(255, 255, 255, 0);
}
#messageDialog--errorMessageDialog-header {
	box-shadow: 0 0 5px #333;
    overflow: visible;
}
#messageDialog--errorMessageDialog-footer {
	background-color:#0F2D65;
}
/** Subheader style title **/
html.sap-desktop .pageHeader .sapMBarMiddle .sapMBarChild {
	text-shadow: none;
}
/** END Subheader style title **/

/** Subheader back button style **/

html.sap-desktop .sapMBtn:focus>.sapMBtnInner.sapMFocusable {
    background-color: none;
	outline:1px dotted transparent;
	border-color:transparent;
}
html.sap-desktop .sapMBar-CTX :not(.sapMBtnDisabled)>.sapMBtnInner.sapMBtnActive {
    background-color: #73d2e6;	
}
html.sap-desktop .sapMBtnTransparent>.sapMBtnIcon {
	color:#ffffff;
}
/** END Subheader back button style **/