#acpnglinksView--ACPnGLinks{
    width:95% !important;
    margin: 50px auto;
    padding:0 ;
    border: solid 1px $cool-grey;
    .sapUiTableCnt{
		.sapUiTableColHdrCnt{
			height:46px !important;
			background-color : $teal-blue;
			.sapUiTableColHdrScr {
				border: solid 1px $cool-grey;
				.sapUiTableCol{
					border-right:1px solid white;
				}		
			}
		}
	}
}

.ACPnGtLabel{
	color:white;
	padding-top: 8px;
    padding-left: inherit;
}

#acpnglinksView--ACPnGTreeTable {
	>.sapUiTableMTbr  {
		background-color : $teal-blue;
		>div {
			* {
				color:white;
				text-shadow: none;
			}
			button:hover {
				>div {
					color:$teal-blue;
					background-color: $teal-blue-hover;
				}
			}
		}
	}
}

#acpnglinksView--ACPnGTreeTable-table{
	>tbody {
		>tr{
			height : 46px;
			>td{
				text-align:left !important;
				border-left:1px solid $cool-grey-hover;
				border-top: 1px solid #e5e5e5
			}
		}
	}
}		

#acpnglinksView--ACPnGTreeTable-sapUiTableColHdrScr {
	>.sapUiTableColHdr {
		height: 100%;
		>div {
			height: 100%;
		}
	}
}

//buttons in the center of dialog for acpnglinks
.listButtons{
    padding: 10px;
    >div {
        >button{
            &:hover {
                >div {
                    background-color: $sapui-hover-grey !important;
                    >span {
                        color: $white-two;
                    }
                }
            }
        }
        &:first-child{
            span {
                margin-top: 1px;
                margin-left: 2px;
            }
        }
        &:nth-child(2){
            span {
                margin-top: 1px;
                margin-right: 2px;
            }
        }
    }
}


[id^="acpnglinksView--ACPnGTreeTable-table"]{
	>tbody{
	 	>tr
	 	{
 		
			&[data-level="1"]{
				background-color: #fbefcc;
			}
			&[data-level="2"]{
				background-color: #cfe0e8;
			}
			&[data-level="3"]{
				background-color: #b7d7e8;
			}
			&[data-level="4"]{
				background-color: #87bdd8;
			}
			&[data-level="5"]{
				background-color: #daebe8;
			}
	}
  }
}


#acpnglinksView--modifyColumnsButton{
	position: absolute;
	right: 30px;
}
 
#acpnglinksView--modifyColumnsButton-inner{
    background-color: #0085ad;
    border-radius: 0.125rem;
    color: $white-two;
    &:hover {
        background-color: $teal-blue-hover;
    }
}
