#componentsView--ComponentsList.ComponentsList {
    width:95% !important;
    margin: 0 auto;
    padding:0 ;
    >table {
        border: solid 1px $cool-grey;
        >thead {
            >tr {
                >th {
                    background-color : $teal-blue;
                    border-right:1px solid white;
                    >span{
                        color: white;
                    }
                }
            }
        }
        >tbody {
                tr:nth-child(even) {background: #fff}
                tr:nth-child(odd) {background: #fcfcfc}
                tr:hover{background-color: #efefef }
                >tr{
                    >td{
                        text-align:left !important;
                        border-left:1px solid $cool-grey-hover;
                    }
                }
        }
    }
}

#componentsView--ComponentsCheck.ComponentsCheck{
    width: 50%;
    margin: 20px auto 10px auto;
    padding: 0;
    text-align: center;
}

#componentsView--otbSubheader{
    width: 40%;
    margin: 10px auto 10px auto;
    padding: 0;
    text-align: center;
    border : none;
    >button:first-child {
        width: 20% !important;
    }
    >div {
        width: 75% !important;
        max-width: none !important;
        min-width: 0 !important;
    }
}

#componentsView--ComponentsCheck.jigToolListlabel{
        font-weight: bold;
        padding: 0;
           margin: 25px 0 25px 2.5% !important;
}
#componentsView--ComponentsList{
    height: 450px !important;
    .sapUiTableColCell{
        text-align: center !important;
    }
    .stepInputComponent{
        left: 4px;
        span{
            &::before{
                color: #000000;
            }
        }
        .sapMInputBaseInner{
            text-align: center !important;
        }
    }
}
#componentsView--ComponentsList-sapUiTableColHdrScr{
    height: 32px;
}
#componentsView--servicesButtonComponents{
    float: right;
    margin-right: 43px;
    #componentsView--btnComponentsSave{
        right: 5px;
    }
}
