//button + search field
#componentsView--otbSubheader{
    width: 40%;
    margin: 0px auto 10px auto;
    padding: 0;
    text-align: center;
    border : none;
    >button:first-child {
        width: 20% !important;
    }
    >div {
        width: 75% !important;
        max-width: none !important;
        min-width: 0 !important;
    }
}

#componentsView--ComponentsList{
    .stepInputComponent{
        left: 4px;
        span{
            &::before{
                color: #000000; 
            }
        }
        .sapMInputBaseInner{
            text-align: center !important;
        }
    }
}

#componentsView--servicesButtonComponents{
    float: right;
    margin-right: 43px;
    #componentsView--btnComponentsSave{
        right: 5px;
    }
}

#componentsView--idFilterComponent-inner {
    background-color: $teal-blue;
    border-radius: 0.125rem;
    color: $white-two;
    &:hover {
        background-color: $teal-blue-hover;
    }
}
