
// Create disruption
#createDisruptionView{
	.heightZero .sapUiFormContainerTitle>.sapUiFormTitle{
	       height:0px;
	}
	#createDisruptionView .textAlignLeft{
	       text-align:left !important;
	}
	.titleAdditionalInfo{
	       color:#777777;
	}
}

.createDisruptionFooter{
    position: fixed;
    bottom: 0px;
    background:#607381 !important;
    @at-root .createDisruptionFooter .sapMBtnContent{
        @at-root &, .createDisruptionFooter .sapMBtnIcon{
            color: #fff !important;
        }
    }
}


.inputQty{
    .sapMInputBaseInner{
        line-height: 1.9rem !important;
        height: 1.9rem !important;
    }
}
label{
    &#createDisruptionView--disruptLabel{
        font-size: 1.2rem !important;
        font-weight: bold !important;
    }
}


#materialListSelectDialog{
    background: $white-two;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}
#materialListSelectDialog-header-BarPH{
    background: #d4f1f7;
}
#materialListSelectDialog-title{
    color: #434343;
}
#materialListSelectDialog-cont{
    border-top: 3px solid rgba(255, 255, 255, 0);
}
#materialListSelectDialog-header{
    box-shadow: 0 0 5px #333;
    overflow: visible;
}
.attachIcon span{
    color: #000 !important;
    font-size: 1rem !important;
} 