//DISRUPTION DETAIL
#disruptionDetailView{
    overflow: auto;
    .sapMFlexBox.sapMFlexBoxAlignContentStretch.sapMFlexBoxAlignItemsStretch.sapMFlexBoxJustifyStart.sapMFlexBoxWrapNoWrap.sapMFlexItem.sapMHBox{
        background-color: #E9EEF3;

    }
    .sapUiFormTitle{
        background-color: transparent;
    }
    .sapUiFormM .sapUiFormContainerTitle>.sapUiFormTitle {
        height: 2rem;
        line-height: 2rem;
    }
    .sapMSlt>.sapMSltLabel,
    .sapMSlt, .sapMSltArrow {
        line-height: 2.5rem;
        height: 2.5rem;
    }
    background-color: #E9EEF3;
    .sapUiFormContainerTitle{
        background-color: #E9EEF3;
    }
    .sapUiFormResGrid.sapUiFormBackgrTranslucent>div{
        background-color: #E9EEF3;
    }
    .titleToolbar{
        background-color: rgba(191, 198, 206, 0.59);
    }
    .sapUiForm .sapUiFormTitle{
        font-weight: bold;
        line-height: 4rem;
    }
    .sapMFlexItem{
        .textSize{
            &:nth-child(1){
                font-weight: bold;
                color: black;
            }
        }
    }
    .attachmentIcon{
    		margin-top: 0.5rem !important;
    		z-index: 2 !important;
   			Position: absolute !important;
    		right: 1rem !important;
    }
    .setMinWidth{
    	min-width: 200px !important;
    }
    .pageSubHeader{
    	background: #0f2d65 !important;
    	border-top: 0.6rem solid #ffffff !important;
    }
    .GenricBgColor{
    	 background-color: #FFFFFF !important;
    }
}
