#idListDocument {
  .document-item {
    padding: 1rem;
    display: flex;
    min-height: 3rem;
    padding-bottom: .375rem;

    .document-title {
      font-weight: bold;
      font-size: 1rem;
    }

    .document-description {
      font-size: 1rem;
    }

    .document-size {
      font-size: 1rem;
    }

    .document-edit {
      font-size: 1rem;
      text-align: right;
      -webkit-box-flex: 0;
      flex: none;
    }

    .document-delete {
      font-size: 1rem;
      text-align: right;
      -webkit-box-flex: 0;
      flex: none;
    }
  }
}
