.disruptionKPI{
    .chart{
        float: left;
    }
    .pageHeader{
        -webkit-box-shadow: 0px 2px 15px -5px #0F2D65;
        -moz-box-shadow: 0px 2px 15px -5px #0F2D65;
        box-shadow: 0px 2px 15px -5px #0F2D65;
        border: none;
        border-top: 0.6rem solid #ffffff;
        position: relative;
        z-index: 10;
        color: white !important;
        background: #0F2D65 !important;
        height: 57px !important;
        line-height: 3rem!important;
        
        span.sapMText{
			font-size: 12px;
		    color: #F5F5F5;
		}
    }
}


// CSS for filter boxes in header bar
#disruptionKPIView--lineComboBox{
	border-left: solid 1px $twilight-blue !important;
    @extend %headerFilterBoxes;
}

#disruptionKPIView--stationComboBox.sapMMultiComboBox{
    width: 18rem !important;
    height: 3rem;
    margin: 0;
    line-height: 3rem;
    border: 0px;
	border-right: solid 1px $twilight-blue !important;
	margin: 0px !important;
	
	.sapMMultiComboBoxBorder{
	    background: $teal-blue-hover !important;
	    border: 0;
	    
	    .sapMTokenizer{
	    	z-index: 1;
	    	
	    	.sapMToken{
		    	margin-top: -0.175rem;
		    	margin-bottom: 0px;
		    	vertical-align: middle;
		    }    
	    	    
	    	.sapMTokenIcon{
	    		cursor:pointer;
		    }
		}
		
		input{
			font-size: 12px;
		    color: #F5F5F5;
	    	border: 0px !important;
	    }
		    
	    @extend %greyPlaceholder;
	    
	    button.sapMMultiComboBoxArrow{
			font-size: 12px;
	    	background: $teal-blue-hover;
		    color: #F5F5F5;
		    border: 0px;
	    }
	}
}

#disruptionKPIView--timeUnit{
    @extend %headerFilterBoxes;
}


// CSS for filter boxes in subheader
.disruptionKPI .Subheader{
    background-color: $duck-egg-blue !important;
        
    .sapMBtnIconLeft{
        color: #0D5D76 !important;
        border-right: 1px solid #8db9ca;
    }   
    
    span.subHeaderthemeColor{
    	color:#0d5d76;
    }
    
    // CSS for Date Time Range Selection
	#disruptionKPIView--startDateTime, #disruptionKPIView--endDateTime{
		width: 220px !important;
			
		input{
			pointer-events:none; // Very import to avoid user to add value manually using keyboard
			color: #0d5d76;
	    	line-height: 3rem;
	    	border: 0 !important;
	    	background: $duck-egg-blue !important;
		}
		
		@extend %bluePlaceholder;
		
		span.sapUiIcon{
    		color:#0d5d76 !important;
			background: transparent !important;
		}
	}
	
	#disruptionKPIView--endDateTime{
		border-right: 1px solid #8db9ca;
	}
        
}