#displayOpeAttachmentsView--DOATable{
	width:95% !important;
	margin: 0 auto;
	padding:0;
	height:550px;
	.sapUiTableCnt{
		    height: 500px;
		    .sapUiTableColHdrCnt{
		    	height:46px !important;
				.sapUiTableColHdrScr {
						border: solid 1px $cool-grey;
						background-color : $teal-blue;
						.sapUiTableCol{
							border-right:1px solid white;
						}		
				}
			}
		}
}

.DisOpAttLabel{
	color:white;
	padding-top: 8px;
    padding-left: inherit;
}

#displayOpeAttachmentsView--DOATable-table{
	>tbody {
				tr:nth-child(even) {background: #fff}
				tr:nth-child(odd) {background: #fcfcfc}
				tr:hover{background-color: #efefef}
				>tr{
					height : 46px;
					>td{
						text-align:left !important;
						border-left:1px solid $cool-grey-hover;
					}
				}
		}
}		

#displayOpeAttachmentsView--displayOpeAttachmentsCheck.DOACheck{
	width: 50%;
    margin: 50px auto 10px auto;
    padding: 0;
    text-align: center;
}

#displayOpeAttachmentsView--DOAlabel.DOAlabel {
        font-weight: bold;
    	padding: 0;
   		margin: 25px 0 25px 2.5% !important;
}

