#jigtoolsView {
	#jigtoolsView--jigToolcheck{
		width: 50%;
		margin: 20px auto 10px auto;
		padding: 0;
		text-align: center;
	}

	#jigtoolsView--otbSubheader{
		width: 40%;
		margin: 0px auto 10px auto;
		padding: 0;
		text-align: center;
		border : none;
		>button:first-child {
			width: 20% !important;
		}
		>div {
			width: 75% !important;
			max-width: none !important;
			min-width: 0 !important;
		}
	}
}