//id jigToolList
//class jigToolListtable

#jigtoolsView--jigToolList.jigToolListtable{
	width:95% !important;
	margin: 0 auto;
	padding:0 ;
	>table {
		border: solid 1px $cool-grey;
		>thead {
			>tr {
				>th {
					background-color : $teal-blue;
					border-right:1px solid white;
					>span{
						color: white;
					}
				}
			}
		}
		>tbody {
				tr:nth-child(even) {background: #fff}
				tr:nth-child(odd) {background: #fcfcfc}
				tr:hover{background-color: #efefef }
				>tr{
					>td{
						text-align:left !important;
						border-left:1px solid $cool-grey-hover;
					}
				}
		}   
	}
}
	
#jigtoolsView--jigToolcheck.jigToolListcheck{
	width: 50%;
    margin: 20px auto 10px auto;
    padding: 0;
    text-align: center;
}

#jigtoolsView--jigToollabel.jigToolListlabel{
        font-weight: bold;
    	padding: 0;
   		margin: 25px 0 25px 2.5% !important;
}