/********************
KPI Header Content
*********************/
.classKpiHeaderContent {
	height: 195px;
	overflow-y: hidden;
    .contentHeaderCont {
		white-space: normal;
		background-color: $teal-blue-hover;
		border-right: solid 1px $tiffany-blue;
		margin: 0px ! important;
		border-bottom: none;
		border-top: solid 1px $tiffany-blue;
		padding: 0 5px;
	}
}

.classKpiHeaderContent .contentHeaderCont:last-child {
	border-right: none !important;
}

.classKpiHeaderContent .sapSuiteCmpChartItemTitle,
	.classKpiHeaderContent .sapSuiteCmpChartItemValue,
	.classKpiHeaderContent label {
	color: #ffffff;
	font-size: 0.8vw;
}

.classKpiHeaderContent .sapSuiteCmpChartBarNoValue {
	background-color: $silver-15;
}

.classKpiHeaderContent .kpiValue {
	font-size: 1.6vw;
	width: 100%;
	text-align: center ! important;
}

.classKpiHeaderContent .kpiName {
	text-align: center ! important;
	width: 100%;
}

.classKpiHeaderContent .whiteTextHeader {
	white-space: normal;
	text-align: center ! important;
	color: white;
	width: 100%;
	font-size: 1vw;
}

/*KPI boxes*/
$kpi-box-title-height: 50px;
$kpi-box-body-height: 144px;
$kpi-box-extrawork-text-height:30px;
$kpi-box-extrawork-percent-height:42px;

.kpiBoxes {
	>.sapMFlexItem:first-child {
		height: $kpi-box-title-height;
		.sapMLabel {
			display: inline-block;
			vertical-align: middle !important;
			max-width: 100% !important;
			max-height: $kpi-box-title-height;
		}
	}
}

.kpiBoxes > .sapMFlexItem:before {
  content: "" !important;
  font-size: 0 !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 0px !important;
  height: 100% !important;
}

.labourEfficiencyBox {
	.sapMFlexItem:nth-child(2) {
		height: $kpi-box-body-height;
		display: inline-block;
    	vertical-align: middle !important;
		.sapMLabel {
			vertical-align: super !important;
    		max-height: 144px;
		}
	}
}

/*general kpi*/
.kpiBoxExtraWork {
	.sapMFlexItem {
		width: 100% !important;
		line-height: normal;
		display: inline-block;
		vertical-align: middle !important;
		.sapMLabel {
			display: inline-block;
			max-width: 100% !important;
			vertical-align: middle !important;
		}
	}
	.sapMFlexItem:nth-child(2) {
  		height: $kpi-box-extrawork-text-height;
		.sapMLabel {
			vertical-align: sub !important;
			max-height: $kpi-box-extrawork-text-height;
			font-size: 0.9vw;
		}
	}
	.sapMFlexItem:nth-child(4) {
  		height: $kpi-box-extrawork-text-height;
		.sapMLabel {
			vertical-align: sub !important;
			max-height: $kpi-box-extrawork-text-height;
			font-size: 0.9vw;
		}
	}.sapMFlexItem:nth-child(3) {
		.sapMLabel {
			vertical-align: top !important;
  			max-height: $kpi-box-extrawork-percent-height;
		}
	}
	.sapMFlexItem:nth-child(5) {
		.sapMLabel {
			vertical-align: top !important;
  			max-height: $kpi-box-extrawork-percent-height;
		}
	}
}

// kpi others
.kpiBody {
    height: 139px;
}

.kpiBodyWithoutMargin {
    height: 144px;
}

.kpiDeltaMicroChart {
	margin: 10px 0;
    height: 119px;
}

.marginTopKpiBody {
  margin-top: 5px;
}

$kpi-box-disruptions-total-title-height: 25px;
$kpi-box-disruptions-total-text-height: 20px;
$kpi-box-disruptions-total-numbers-height: 30px;
$kpi-box-disruptions-total-numbers-height-bis: 44px;

// openDisruption
.openDisruptionTotal {
	.sapMFlexItem {
		width: 100% !important;
		line-height: normal;
		display: inline-block;
		vertical-align: middle !important;
		.sapMLabel {
			display: inline-block;
			max-width: 100% !important;
			vertical-align: middle !important;
		}
	}
	.sapMFlexItem:nth-child(1) {
  		height: $kpi-box-disruptions-total-title-height;
		.sapMLabel {
			vertical-align: middle !important;
			max-height: $kpi-box-disruptions-total-title-height;
			font-size: 0.9vw;
		}
	}
	.sapMFlexItem:nth-child(2) {
  		height: $kpi-box-disruptions-total-text-height;
		.sapMLabel {
			vertical-align: middle !important;
			max-height: $kpi-box-disruptions-total-text-height;
		}
	}
	.sapMFlexItem:nth-child(4) {
  		height: $kpi-box-disruptions-total-text-height;
		.sapMLabel {
			vertical-align: middle !important;
			max-height: $kpi-box-disruptions-total-text-height;
		}
	}.sapMFlexItem:nth-child(3) {
		.sapMLabel {
			vertical-align: top !important;
  			max-height: $kpi-box-disruptions-total-numbers-height
		}
	}
	.sapMFlexItem:nth-child(5) {
		height: $kpi-box-disruptions-total-numbers-height-bis;
		.sapMLabel {
			vertical-align: top !important;
  			max-height: $kpi-box-disruptions-total-numbers-height-bis;
		}
	}
}

.openDisruptionTotal > .sapMFlexItem:nth-child(2):before {
  content: "" !important;
  font-size: 0 !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 0px !important;
  height: 100% !important;
}

.openDisruptionTotal > .sapMFlexItem:nth-child(4):before {
  content: "" !important;
  font-size: 0 !important;
  vertical-align: middle !important;
  display: inline-block !important;
  width: 0px !important;
  height: 100% !important;
}


// old code
.openDisruptionAndon div:first-child label,
.openDisruptionDisruption div:first-child label,
.openDisruptionDetail div:first-child label {
    padding-bottom: 5px;
}

.whiteText {
    text-align: center !important;
    color: white;
    width: 100%;
}
.disruptionText {
    color: white;
}
.redText {
    text-align: center !important;
    color: $blood-orange !important;
    width: 100%;
}