/******************
LINETRACKER
*******************/
/****************************
LineTracker Header
****************************/

#idLinetracker--linetrackerDateButton {
    opacity: 1;
}

#idLinetracker--linetrackerHeaderKPI-CollapsedImg{
    visibility: hidden;
}
#idLinetracker--linetrackerHeaderKPI{
    header{
        &.sapMPanelWrappingDivTb{
            border-bottom: none;
        }
    }
}

#idLinetracker--linetracker_dateLabel{
    color: #ffffff !important;
    padding: 17px 20px 17px 10px;
    border-right: solid 1px $tiffany-blue !important;
    text-shadow: none;
    margin-right: 15px;
}

#idLinetracker--linetracker_timeLabel{
    color: #ffffff !important;
    margin-top: 2px;
    text-shadow: none;
    font-size: 1.1rem !important;
}

#idLinetracker--hideKPI-content, #idLinetracker--hideKPI-img{
    color: $tiffany-blue !important;
    text-shadow: none;
}

/************************
Linetracker View (Main Table)
*************************/
#idLinetracker{
    header.sapMPanelWrappingDivTbExpanded{
        div.sapMIBar.sapMTB.sapMTB-Transparent-CTX.sapMTBInactive.sapMTBNewFlex{
            margin-left: 0rem;
            h2{
                margin-left: -2px !important;
            }
        }
    }
    .classLineTrackerTable .moreButton{
        background-color: #EAFBFD !important;
        width: 100% !important;
        .sapMBtnTransparent > .sapMBtnIcon{
            color: #666666
        }
    }
    .classLineTrackerTable .lineTrackerContent{
        margin-top: 12rem;
    }
    .classLineTrackerTable .toolbar {
        background-color: #D5F1F8 !important;
        border: none !important;
        padding: 0;
        >span {
            position: absolute;
            width: calc(11% - 1.76px);//11%*16px/100% = 1,76px, for the scrollbar
            margin: 0 0.5%;
            padding: 5px 0;
            &:first-of-type {
                right: calc(17px + 24%);//not totally ok
            }
            &.penultimateColumnTitle {
                right: calc(17px + 12%);//not totally ok
            }
            &.lastColumnTitle {
                right: 17px;
            }
        }
    }
    .classLineTrackerTable table tr th div {
        border: none !important;
    }

    .classLineTrackerTable table tr th span {
        text-align: center !important;
    }

    .classLineTrackerTable table tr th,td span, .headerColumnText {
        text-align: center !important;
    }

    .classLineTrackerTable .taktHeading {
        color: #a9cdd8!important;
        font-size: 1rem !important;
        width: 100%;
        font-weight: 500;
        text-align: center !important;
    }

    .classLineTrackerTable table tr th:nth-child(1), td:nth-child(1), td:nth-child(2), th:nth-child(2) {
        background-color: #EAFBFD !important;
    }

    .classLineTrackerTable table tr td:nth-child(2) {
        background-image: url("grid.svg");
        vertical-align: middle !important;
    }

    .classLineTrackerTable table tr th:nth-child(2) {
        background-image: url("grid.svg");
        vertical-align: middle !important;
    }

    .classLineTrackerTable table tr th:nth-child(2) .sapMFlexItem {
        width: 100% !important;
    }

    .classLineTrackerTable .sapMListTblCell{
        padding: 0rem 0rem !important;

    }

    .classLineTrackerTable table tr th:nth-child(n+3) {
        background-color: #D5F1F8 !important;
    }

    .classLineTrackerTable table tr td:nth-child(5) > span {
        font-size: 1.5rem !important;
        color: #5B707E !important;
    }

    .classLineTrackerTable table tr td:nth-child(6) > span {
        font-size: 1.5rem !important;
        color: #FE5102 !important;
    }

    .classLineTrackerTable table tr td:nth-child(7) > span {
        font-size: 1.5rem !important;
        color: #5B707E !important;
    }

    .classLineTrackerTable table tr td:nth-child(8) > span {
        font-size: 1.5rem !important;
        color: #FE5102 !important;
    }

    .classLineTrackerTable .stationBtns {
        height: 2rem !important;
        width: 21rem;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .classLineTrackerTable .stationBtns:nth-child(1) span {
        font-size: 1rem !important;
    }

    .classLineTrackerTable .sapMBtnInner {
        font-size: 1rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMBtnContent {
        line-height: 2rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMBtnIcon {
        line-height: 2rem !important;
        font-size: 1.3rem !important;
    }

    .classLineTrackerTable .stationBtns input {
        height: 2rem !important;
        font-size: 1rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMInputValHelp {
        height: 1.9rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMInputValHelpInner {
        height: 1.9rem !important;
        line-height: 2rem !important;
    }

    .classLineTrackerTable .stationBtns:nth-child(2) {
        margin-right: 0.5rem !important;
    }
    .classLineTrackerTable .progressBar {
        margin-left: 0.15rem !important;
        margin-top: 5px;
    }

    .classLineTrackerTable .stationPopoverBtns div span {
        background-color: #FFFFFF !important;
    }
    #idLinetracker--linetrackerTablePercentage{
        font-weight: 600;
    }
    .headerTextTableLinetracker{
        color: #1A6980;
        font-weight: 600;
        font-size: 1.1em;
        font-stretch: condensed;
        text-shadow:none;
    }
    .sapUiTableCnt{
        border-top: transparent;
    }
    .sapMIBar .sapMTB .sapMTB-Transparent-CTX .sapMTBInactive .sapMTBNewFlex{
        padding-left: 0;
        margin-left: 0;

    }
    #idLinetracker--navBack {
        @extend %navBack;
    }
    span{
        &.sapUiIcon{
            &.trendIconLinetracker{
                font-size: 1.5em;
                margin-bottom: 10px;
            }
        }
        &.dateTableLinetracker{
            color: #5F7381;
            font-stretch: semi-condensed;
            font-size: 1em;
        }
        &.fontTableLinetracker{
            font-size: 1.1em;
            color: #5F7381;
        }
    }
    .taktAdherenceLinetrackerTitle{
        color: #0D5D76;
        text-transform: uppercase;
        font-size: 0.75em;
    }
    #idLinetracker--linetrackerTable{
        div{
            &:nth-child(2){
                div{
                    &+ div + div.sapUiTableCol{
                        background-color: #D5F1F8;
                    }
                }
            }
        }
   
	}

	#idLinetracker--linetrackerTable-sapUiTableColHdrScr{
		 div{
			>.sapUiMediumMarginBegin{
			   	margin-left:0 !important;
			   }
			>.sapMTB{
			   	border:none;
			   }
		 }
	}

}

.stationBtns.sapMBtn>.sapMBtnInner {
    text-align: center !important;
}

.dialogForm .sapMFlexItem:nth-child(2) {
    width: 100% !important;
}

#sapContentPopUpLinetracker{
    #sapContentPopUpLinetracker-intHeader{
        background-color: #D8D8D8;
    }
    #sapContentPopUpLinetracker-cont{
        background-color: #FFFFFF;
        .sapMBtnContent{
            color: #807F7F;
            font-weight: 600;
        }
    }
}
header#sapContentPopUpLinetracker-intHeader + div#sapContentPopUpLinetracker-cont + footer{
    background-color: #363535;
    .sapMBtnContent{
        font-weight: 600;
    }
}
/**************************
Custom Progress Bar
*************************/
.progress {
       height: 30px;
       overflow: hidden;
 }

.progress i {
    float: right;
    margin-top: 0.5rem;
    margin-right: 0.4rem;
}

.progress-bar-success {
    background-color: #84BD00 !important;
}

.progress-bar-warning {
    background-color: #E4002B !important;
}

.progress-bar-grey {
    background-color: rgba(127, 127, 127, 0.69) !important;
}

.progress-bar-verticalDiv {
    background-color: #3F3F3F !important;
}


.progress-bar {
       float: left;
       width: 0;
       height: 80%;
       font-size: 12px;
       line-height: 20px;
       color: #fff;
       text-align: center;
       background-color: #337ab7;
       -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
       box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
       -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
       transition: width .6s ease
}

#taktActionPopover{ #taktActionPopover-cont {
  background-color: #FFFFFF; }} 

  
/*********************************
Physical Station
********************************/
.ParentDiv {
    background-color: #EAFBFD;
    min-width: 10rem;
    height: 3rem;
    float: left;
    display: flex;
}

.ActionDiv {
    float: left;
    width: 10%;
    align-self: center;
//    padding-left: 1%;
//    margin-left: -7%;
}

.labelDiv {
    float: left;
    width: 40%;
    align-self: center;
}

.StationLabel {
    font-size: small;
    color: rgb(67, 100, 113);
    font-family: sans-serif;
    font-weight: bolder;
}


.MSNlabel {
    font-size: x-small;
    font-family: sans-serif;
    color: #5cabb7;
}

.blankDiv {
    float: left;
    width: 8%
}

.imageDiv {
    float: left;
    width: 35%;
    padding: 8px;
    display: inline-flex;
}

.detailDiv { 
    float: left;
    width: 23%;
    align-self: center;

    display: flex;
}

/*********************************
KPI Charts
********************************/
/******************************
  Header
******************************/

.KPIlinetrackerHeader{
    margin-left:0rem;
}

.KPIheaderTitle{
     font-size: 1.35rem;
}

.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #e6e6e6 !important;
    overflow-y: hidden;
    transition: 0.5s;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}

/***********************
TASK ADHERENCE
************************/
.taktAdherenceTrend {
  height: 100%;
  padding-right: 0 !important; }
  .taktAdherenceTrend.sapUiRespGrid.sapUiRespGridHSpace1 > div {
    margin: 0 0.5rem 0 0;
    line-height: 1rem; }
  .taktAdherenceTrend.sapUiRespGrid.sapUiRespGridHSpace1 > .sapUiRespGridSpanL4 {
    margin: 0;
    width: auto; }

.classKpiHeaderContent .taktAdherenceTrend .TrendGree {
  margin-bottom: 0.5rem; }
.classKpiHeaderContent .taktAdherenceTrend .TrendRed {
  margin-bottom: 0.5rem; }
.classKpiHeaderContent .taktAdherenceTrend .taktKpiName.takt_kpi_trend {
  font-size: 1vw; }
.classKpiHeaderContent .taktKpiName {
  height: 25px;
  text-align: right !important;
  font-size: 0.85vw;
  vertical-align: middle;
  display: baseline; }
.classKpiHeaderContent .taktKpiValue {
  height: 25px;
  display: inline-block;
  vertical-align: baseline; }

.classKpiHeaderContent .KPITaktChartRightText {
  text-align: right !important;
  width: 100%; }
/*
#idLinetracker--takt_adherence_adherence_value {
  font-size: 15px; }
*/
/*************
ARE CHART for Header KPI of Line Tracker
**************/
svg#idLinetracker--takt_adherence_area_chart {
  border: none; }

.classTaktAdherenceAreaChart div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 20px; }
.classTaktAdherenceAreaChart div:nth-child(3) {
  position: absolute;
  top: 0;
  right: 15px; }

.takt_adherence_area_chart_svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

.takt_adherence_area_chart_svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

#idLinetracker--takt_adherence_area_chart .yaxis {
  fill: white;
  font-size: 7px; }
#idLinetracker--takt_adherence_area_chart .yaxelabel {
  fill: white;
  font-size: 7px;
  margin-bottom: 2px; }
#idLinetracker--takt_adherence_area_chart .axis path,
#idLinetracker--takt_adherence_area_chart .axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges; }
#idLinetracker--takt_adherence_area_chart .area {
  fill: #E5002B; }
#idLinetracker--takt_adherence_area_chart .line {
  fill: none;
  stroke: #0D2C63;
  stroke-width: 2; }
#idLinetracker--takt_adherence_area_chart .realLine {
  fill: none;
  stroke: white;
  stroke-width: 2; }
#idLinetracker--takt_adherence_area_chart .estimateLine {
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 10; }
#idLinetracker--takt_adherence_area_chart .ygrid .tick {
  stroke: rgba(109, 147, 194, 0.39);
  opacity: 0.7; }
#idLinetracker--takt_adherence_area_chart .ygrid path {
  stroke-width: 0; }

/*************
ARE CHART  for Station specific(below slide)
**************/
svg#idLinetracker--station_takt_adherence_area_chart{
  border: none; }

.classTaktAdherenceAreaChart div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 20px; }
.classTaktAdherenceAreaChart div:nth-child(3) {
  position: absolute;
  top: 0;
  right: 15px; }

.station_takt_adherence_area_chart_svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

.station_takt_adherence_area_chart_svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

#idLinetracker--station_takt_adherence_area_chart .yaxis {
/*   fill: white; */
  font-size: 7px; }
#idLinetracker--station_takt_adherence_area_chart .yaxelabel {
/*   fill: white; */
  font-size: 7px;
  margin-bottom: 2px; }
#idLinetracker--station_takt_adherence_area_chart .axis path,
#idLinetracker--station_takt_adherence_area_chart .axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges; }
#idLinetracker--station_takt_adherence_area_chart .area {
  fill: #E5002B; }
#idLinetracker--station_takt_adherence_area_chart .line {
  fill: none;
  stroke: #0D2C63;
  stroke-width: 2; }
#idLinetracker--station_takt_adherence_area_chart .realLine {
  fill: none;
  stroke: white;
  stroke-width: 2; }
#idLinetracker--station_takt_adherence_area_chart .estimateLine {
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 10; }
#idLinetracker--station_takt_adherence_area_chart .ygrid .tick {
  stroke: rgba(109, 147, 194, 0.39);
  opacity: 0.7; }
#idLinetracker--station_takt_adherence_area_chart .ygrid path {
  stroke-width: 0; }

/*******************************
BOX RESOLUTION EFFICIENCY
********************************/
#idLinetracker--boxResolutionEfficiency .boxResolutionEfficiencyGoodValue {
  color: #84bd00; }
#idLinetracker--boxResolutionEfficiency .boxResolutionEfficiencyBadValue {
  color: #fe5000; }

#idLinetracker--boxSLBEfficiecy_chart-chart-item-3,
#idLinetracker--boxResolutionEfficiecy_chart-chart-item-3 {
  opacity: 0; }

/*******************************
SHIFT STAFFING
********************************/
#idLinetracker--shifStaffingHeader-dmc-chart .Left {
  background-color: #84bd00; }

#idLinetracker--shifStaffingHeader .sapSuiteDmcTitle,
#idLinetracker--shifStaffingHeader .sapSuiteDmcLbls {
  font-size: 0.8vw; }
#idLinetracker--shifStaffingHeader .sapSuiteDmcCnt {
  right: 2rem; }
#idLinetracker--shifStaffingHeader .sapSuiteDmcDelta {
   color: white;
   }
#idLinetracker--shifStaffingHeader .sapSuiteDmcBarDeltaInt {
  background: #fe5000; }
#idLinetracker--shifStaffingHeader .sapSuiteDmcBarDeltaStripe {
  background-color: $tiffany-blue; }

/*******************************
BOX RESOLUTION EFFICIENCY
********************************/
#idLinetracker--boxResolutionEfficiency{
    .boxResolutionEfficiencyGoodValue{
        color: $dark-lime-green;
    }
    .boxResolutionEfficiencyBadValue {
        color: $blood-orange;
    }
}
#idLinetracker--boxSLBEfficiecy_chart-chart-item-3,
#idLinetracker--boxResolutionEfficiecy_chart-chart-item-3 {
    opacity: 0;
}
/*******************************
SHIFT STAFFING for Station KPI
********************************/

#idLinetracker--stationshifStaffingHeader-dmc-chart .Left {
    background-color: $dark-lime-green;
}
#idLinetracker--shifStaffingHeader{
    .sapSuiteDmcTitle,
    .sapSuiteDmcLbls{
        font-size: 0.8vw;
    }
    .sapSuiteDmcCnt {
        right: 2rem;
    }
    .sapSuiteDmcDelta {
        color: white;
    }
    .sapSuiteDmcBarDeltaInt {
        background: $blood-orange;
    }
    .sapSuiteDmcBarDeltaStripe {
        background-color: $tiffany-blue;
    }

}

/************************
Station header KPI Styles
*************************/


/********************
KPI Header Content
*********************/
 /*general kpi*/

.kpiBoxExtraWork .sapMFlexItem {
  width: 100% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important; }
  .kpiBoxExtraWork .sapMFlexItem .sapMLabel {
    display: inline-block;
    max-width: 100% !important;
    vertical-align: middle !important; }
.kpiBoxExtraWork .sapMFlexItem:nth-child(2), .kpiBoxExtraWork .sapMFlexItem:nth-child(4) {
  height: 30px; }
  .kpiBoxExtraWork .sapMFlexItem:nth-child(2) .sapMLabel, .kpiBoxExtraWork .sapMFlexItem:nth-child(4) .sapMLabel {
    vertical-align: sub !important;
    max-height: 30px;
    font-size: 0.9vw; }
.kpiBoxExtraWork .sapMFlexItem:nth-child(3) .sapMLabel, .kpiBoxExtraWork .sapMFlexItem:nth-child(5) .sapMLabel {
  vertical-align: top !important;
  max-height: 42px; }

.kpiBodyWithoutMargin {
  height: 144px; }

.openDisruptionTotal {
  justify-content: inherit !important;
  padding-right: 5px; }
  .openDisruptionTotal .sapMFlexItem {
    width: 100% !important;
    line-height: normal;
    display: inline-block;
    vertical-align: middle !important; }
    .openDisruptionTotal .sapMFlexItem .sapMLabel {
      display: inline-block;
      max-width: 100% !important;
      vertical-align: middle !important; }
  .openDisruptionTotal .sapMFlexItem:nth-child(1) {
    height: 25px; }
    .openDisruptionTotal .sapMFlexItem:nth-child(1) .sapMLabel {
      vertical-align: middle !important;
      max-height: 25px;
      font-size: 0.9vw; }
  .openDisruptionTotal .sapMFlexItem:nth-child(2), .openDisruptionTotal .sapMFlexItem:nth-child(4) {
    height: 20px; }
    .openDisruptionTotal .sapMFlexItem:nth-child(2) .sapMLabel, .openDisruptionTotal .sapMFlexItem:nth-child(4) .sapMLabel {
      vertical-align: middle !important;
      max-height: 20px; }
  .openDisruptionTotal .sapMFlexItem:nth-child(3) .sapMLabel, .openDisruptionTotal .sapMFlexItem:nth-child(5) .sapMLabel {
    vertical-align: top !important;
    max-height: 30px; }

.taktAdherenceTrendBox > .sapMFlexItem {
  height: 100%; }

.whiteText {
  text-align: center !important;
  color: #ffffff;
  width: 100%; }

.redText {
  text-align: center !important;
  color: #fe5000 !important;
  width: 100%; }



.chartColumn {
  height: 100%; }
.chartColumn > .sapMFlexItem:nth-child(1) {
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid {
  width: 100%;
  height: 100%;
  padding: 0; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div {
  margin: 0 2%;
  width: 46% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important;
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div:nth-child(1) {
  text-align: -webkit-right !important; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div:nth-child(2) {
  text-align: -webkit-left !important; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div .sapMLabel {
  display: inline-block;
  max-width: 100% !important;
  vertical-align: middle !important;
  max-height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(2) {
  height: 119px; }
.chartColumn > .sapMFlexItem:nth-child(3) {
  height: 25px;
  width: 100% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important; }
.chartColumn > .sapMFlexItem:nth-child(3) .sapMLabel {
  display: inline-block;
  max-width: 100% !important;
  vertical-align: bottom !important;
  max-height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(4) {
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(4) > .sapUiRespGrid {
  width: 100%;
  height: 100%;
  padding: 0; }
.chartColumn > .sapMFlexItem:nth-child(4) > .sapUiRespGrid > div {
  margin: 0;
  width: 50% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important;
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(4) > .sapUiRespGrid > div .sapMLabel {
  display: inline-block;
  max-width: 100% !important;
  vertical-align: middle !important;
  max-height: 25px; }


/***************************
Physical Station Popover
****************************/
.popOverbgColor{
background-color: #f7f7f7 !important;
}
#lineStationTracker-inner {
text-align:left !important;

}
#lineStationHandover-inner {
text-align:left !important;

}
#lineDisruptionAndonTracker-inner{
text-align:left !important;

}

