/******************
LINETRACKER
*******************/
/****************************
LineTracker Header
****************************/

#idLinetracker1--linetrackerHeaderKPI-CollapsedImg{
    visibility: hidden;
}

/************************
Linetracker View (Main Table)
*************************/
#idLinetracker1{
    .classLineTrackerTable .moreButton{
        background-color: #EAFBFD !important;
        width: 100% !important;
        .sapMBtnTransparent > .sapMBtnIcon{
            color: #666666
        }
    }
    .classLineTrackerTable .lineTrackerContent{
        margin-top: 12rem;
    }


    .classLineTrackerTable .toolbar {
        background-color: #D5F1F8 !important;
        border: none !important;
      /*  height: auto !important;*/
    }
    .classLineTrackerTable table tr th,td{
        text-align: center !important;
        vertical-align: middle !important;
        border-left: 1px solid rgba(50, 131, 154, 0.33);
        border-bottom: 1px solid rgba(0, 0, 0, 0.18);
    }

    .classLineTrackerTable table tr th div {
        border: none !important;
    }

    .classLineTrackerTable table tr th span {
        text-align: center !important;
    }

    .classLineTrackerTable table tr th,td span, .headerColumnText {
        text-align: center !important;
    }

    .classLineTrackerTable .taktHeading {
        color: #a9cdd8!important;
        font-size: 1rem !important;
        width: 100%;
        font-weight: 500;
        text-align: center !important;
    }

    .classLineTrackerTable table tr th:nth-child(1), td:nth-child(2), th:nth-child(2) {
        background-color: #EAFBFD !important;
    }

    .classLineTrackerTable table tr td:nth-child(3) {
        background-image: url("grid.svg");
        vertical-align: middle !important;
    }

    .classLineTrackerTable table tr th:nth-child(3) {
        background-image: url("grid.svg");
        vertical-align: middle !important;
    }

    .classLineTrackerTable table tr th:nth-child(2) .sapMFlexItem {
        width: 100% !important;
    }

    .classLineTrackerTable .sapMListTblCell{
        padding: 0rem 0rem !important;

    }

    .classLineTrackerTable table tr th:nth-child(n+3) {
        background-color: #D5F1F8 !important;
    }

    /* .classLineTrackerTable table tr th:nth-child(1) {
        width: 22vw !important;
    } */

    .classLineTrackerTable table tr td:nth-child(5) > span {
        font-size: 1.5rem !important;
        color: #5B707E !important;
    }

    .classLineTrackerTable table tr td:nth-child(6) > span {
        font-size: 1.5rem !important;
        color: #FE5102 !important;
    }

    .classLineTrackerTable table tr td:nth-child(7) > span {
        font-size: 1.5rem !important;
        color: #5B707E !important;
    }

    .classLineTrackerTable table tr td:nth-child(8) > span {
        font-size: 1.5rem !important;
        color: #FE5102 !important;
    }

    .classLineTrackerTable .stationBtns {
        height: 2rem !important;
       /*  font-size: 2rem !important; */
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .classLineTrackerTable .stationBtns:nth-child(1) span {
        font-size: 1rem !important;
    }

    /* .classLineTrackerTable .stationBtns div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    } */

    .classLineTrackerTable .sapMBtnInner {
       // height: 2rem !important;
        font-size: 1rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMBtnContent {
        line-height: 2rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMBtnIcon {
        line-height: 2rem !important;
        font-size: 1.3rem !important;
    }

    .classLineTrackerTable .stationBtns input {
        height: 2rem !important;
        font-size: 1rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMInputValHelp {
        height: 1.9rem !important;
    }

    .classLineTrackerTable .stationBtns .sapMInputValHelpInner {
        height: 1.9rem !important;
        line-height: 2rem !important;
    }

    .classLineTrackerTable .stationBtns:nth-child(2) {
        margin-right: 0.5rem !important;
    }
    .classLineTrackerTable .progressBar {
        margin-left: 0.15rem !important;
    }

    .classLineTrackerTable .stationPopoverBtns div span {
        background-color: #FFFFFF !important;
    }
    .sapUiTableColHdrScr{
        .sapUiTableColHdr{
            #idLinetracker1--lineTrackerTrendBorder{
                border-left: 1px solid #60B5CD;
                background-color: #D5F1F8;
                &+ div{
                    &+ div{
                        border-right: 1px solid #60B5CD;
                        background-color: #D5F1F8;
                        &+div + div{
                            background-color: #D5F1F8;
                        }
                        &+ div + div + div + div {
                            border-right: 1px solid #60B5CD;
                            background-color: #D5F1F8;
                            &+div + div {
                                background-color: #D5F1F8;
                                &+div + div {
                                    background-color: #D5F1F8;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #idLinetracker1--linetrackerTablePercentage{
        font-weight: 600;
    }
    .headerTextTableLinetracker{
        color: #1A6980;
        font-weight: 600;
        font-size: 1rem;
        font-stretch: condensed;
    }
    .sapUiTableCnt{
        border-top: transparent;
    }
    .sapMIBar .sapMTB .sapMTB-Transparent-CTX .sapMTBInactive .sapMTBNewFlex{
        padding-left: 0;
        margin-left: 0;

    }
    .lineTrackerTitle{
        margin: 1rem !important;
        font-style: normal;
        font-weight: 500;
        font-stretch: condensed;
        font-size: 1.2rem !important;
        color: #74d2e7 !important;
        font-family: Arial,Helvetica,sans-serif;
    }

}

.stationBtns.sapMBtn>.sapMBtnInner {
    text-align: center !important;
}

.dialogForm .sapMFlexItem:nth-child(2) {
    width: 100% !important;
}

#sapContentPopUpLinetracker{
    #sapContentPopUpLinetracker-intHeader{
        background-color: #D8D8D8;
    }
    #sapContentPopUpLinetracker-cont{
        background-color: #FFFFFF;
        .sapMBtnContent{
            color: #807F7F;
            font-weight: 600;
        }
    }
}
header#sapContentPopUpLinetracker-intHeader + div#sapContentPopUpLinetracker-cont + footer{
    background-color: #363535;
    .sapMBtnContent{
        font-weight: 600;
    }
}
/**************************
Custom Progress Bar
*************************/
.progress {
       height: 36px;
       overflow: hidden;
       /* background-color: #f5f5f5;
       -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
       box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1)
*/
 }

.progress i {
    float: right;
    margin-top: 0.7rem;
    margin-right: 0.4rem;
}

.progress-bar-success {
       background-color: #5cb85c !important;
}

.progress-bar-warning {
       background-color: #d9534f !important;
}

.progress-bar-grey {
       background-color: grey !important;
}

.progress-bar-verticalDiv {
       background-color: Black !important;
}


.progress-bar {
       float: left;
       width: 0;
       height: 100%;
       font-size: 12px;
       line-height: 20px;
       color: #fff;
       text-align: center;
       background-color: #337ab7;
       -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
       box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .15);
       -webkit-transition: width .6s ease;
       -o-transition: width .6s ease;
       transition: width .6s ease
}

/*********************************
Physical Station
********************************/
.ParentDiv {
    background-color: #EAFBFD;
    min-width: 10rem;
    height: 3rem;
    float: left;
    display: flex;
}

.ActionDiv {
    float: left;
    width: 17%;
    align-self: center;
    padding-left: 1%;
}

.labelDiv {
    float: left;
    width: 40%;
    align-self: center;
}

.StationLabel {
    font-size: small;
    color: rgb(67, 100, 113);
    font-family: sans-serif;
    font-weight: bolder;
}


.MSNlabel {
    font-size: x-small;
    font-family: sans-serif;
    color: #5cabb7;
}

.blankDiv {
    float: left;
    width: 8%
}

.imageDiv {
    float: left;
    width: 35%;
}

.detailDiv {
    float: left;
    width: 23%;
    align-self: center;

    display: flex;
}

/*********************************
KPI Charts
********************************/
/******************************
  Header
******************************/

.KPIlinetrackerHeader{
    margin-left:0rem;
}
/*
#idLinetracker1--linetrackerStationKPI{
    background: #fff !important;
}
#idLinetracker1--__toolbar3.headerTitle{
     background: #fff !important;
} */
.KPIheaderTitle{
     font-size: 1.35rem;
}

.sidenav {
    height: 0%;
    width: 100%;
    position: fixed;
    z-index: 1;
    bottom: 0;
    background-color: #e6e6e6 !important;
    overflow-y: hidden;
    transition: 0.5s;
}
#main {
    transition: margin-left .5s;
    padding: 16px;
}

/***********************
TASK ADHERENCE
************************/
.taktAdherenceTrend {
  height: 100%;
  padding-right: 0 !important; }
  .taktAdherenceTrend.sapUiRespGrid.sapUiRespGridHSpace1 > div {
    margin: 0 0.5rem 0 0;
    line-height: 1rem; }
  .taktAdherenceTrend.sapUiRespGrid.sapUiRespGridHSpace1 > .sapUiRespGridSpanL4 {
    margin: 0;
    width: auto; }

.classKpiHeaderContent .taktAdherenceTrend .TrendGree {
  margin-bottom: 0.5rem; }
.classKpiHeaderContent .taktAdherenceTrend .TrendRed {
  margin-bottom: 0.5rem; }
.classKpiHeaderContent .taktAdherenceTrend .taktKpiName.takt_kpi_trend {
  font-size: 1vw; }
.classKpiHeaderContent .taktKpiName {
  height: 25px;
  text-align: right !important;
  font-size: 0.85vw;
  vertical-align: middle;
  display: baseline; }
.classKpiHeaderContent .taktKpiValue {
  height: 25px;
  display: inline-block;
  vertical-align: baseline; }

.classKpiHeaderContent .KPITaktChartRightText {
  text-align: right !important;
  width: 100%; }
/*
#idLinetracker1--takt_adherence_adherence_value {
  font-size: 15px; }
*/
/*************
ARE CHART for Header KPI of Line Tracker
**************/
svg#idLinetracker1--takt_adherence_area_chart {
  border: none; }

.classTaktAdherenceAreaChart div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 20px; }
.classTaktAdherenceAreaChart div:nth-child(3) {
  position: absolute;
  top: 0;
  right: 15px; }

.takt_adherence_area_chart_svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

.takt_adherence_area_chart_svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

#idLinetracker1--takt_adherence_area_chart .yaxis {
  fill: white;
  font-size: 7px; }
#idLinetracker1--takt_adherence_area_chart .yaxelabel {
  fill: white;
  font-size: 7px;
  margin-bottom: 2px; }
#idLinetracker1--takt_adherence_area_chart .axis path,
#idLinetracker1--takt_adherence_area_chart .axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges; }
#idLinetracker1--takt_adherence_area_chart .area {
  fill: #E5002B; }
#idLinetracker1--takt_adherence_area_chart .line {
  fill: none;
  stroke: #0D2C63;
  stroke-width: 2; }
#idLinetracker1--takt_adherence_area_chart .realLine {
  fill: none;
  stroke: white;
  stroke-width: 2; }
#idLinetracker1--takt_adherence_area_chart .estimateLine {
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 10; }
#idLinetracker1--takt_adherence_area_chart .ygrid .tick {
  stroke: rgba(109, 147, 194, 0.39);
  opacity: 0.7; }
#idLinetracker1--takt_adherence_area_chart .ygrid path {
  stroke-width: 0; }

/*************
ARE CHART  for Station specific(below slide)
**************/
svg#idLinetracker1--station_takt_adherence_area_chart{
  border: none; }

.classTaktAdherenceAreaChart div:nth-child(2) {
  position: absolute;
  top: 0;
  left: 20px; }
.classTaktAdherenceAreaChart div:nth-child(3) {
  position: absolute;
  top: 0;
  right: 15px; }

.station_takt_adherence_area_chart_svg-container {
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  /* aspect ratio */
  vertical-align: top;
  overflow: hidden; }

.station_takt_adherence_area_chart_svg-content-responsive {
  display: inline-block;
  position: absolute;
  top: 10px;
  left: 0; }

#idLinetracker1--station_takt_adherence_area_chart .yaxis {
/*   fill: white; */
  font-size: 7px; }
#idLinetracker1--station_takt_adherence_area_chart .yaxelabel {
/*   fill: white; */
  font-size: 7px;
  margin-bottom: 2px; }
#idLinetracker1--station_takt_adherence_area_chart .axis path,
#idLinetracker1--station_takt_adherence_area_chart .axis line {
  fill: none;
  stroke: grey;
  shape-rendering: crispEdges; }
#idLinetracker1--station_takt_adherence_area_chart .area {
  fill: #E5002B; }
#idLinetracker1--station_takt_adherence_area_chart .line {
  fill: none;
  stroke: #0D2C63;
  stroke-width: 2; }
#idLinetracker1--station_takt_adherence_area_chart .realLine {
  fill: none;
  stroke: white;
  stroke-width: 2; }
#idLinetracker1--station_takt_adherence_area_chart .estimateLine {
  fill: none;
  stroke: white;
  stroke-width: 1;
  stroke-dasharray: 10; }
#idLinetracker1--station_takt_adherence_area_chart .ygrid .tick {
  stroke: rgba(109, 147, 194, 0.39);
  opacity: 0.7; }
#idLinetracker1--station_takt_adherence_area_chart .ygrid path {
  stroke-width: 0; }

/*******************************
BOX RESOLUTION EFFICIENCY
********************************/
#idLinetracker1--boxResolutionEfficiency .boxResolutionEfficiencyGoodValue {
  color: #84bd00; }
#idLinetracker1--boxResolutionEfficiency .boxResolutionEfficiencyBadValue {
  color: #fe5000; }

#idLinetracker1--boxSLBEfficiecy_chart-chart-item-3,
#idLinetracker1--boxResolutionEfficiecy_chart-chart-item-3 {
  opacity: 0; }

/*******************************
SHIFT STAFFING
********************************/
#idLinetracker1--shifStaffingHeader-dmc-chart .Left {
  background-color: #84bd00; }

#idLinetracker1--shifStaffingHeader .sapSuiteDmcTitle,
#idLinetracker1--shifStaffingHeader .sapSuiteDmcLbls {
  font-size: 0.8vw; }
#idLinetracker1--shifStaffingHeader .sapSuiteDmcCnt {
  right: 2rem; }
#idLinetracker1--shifStaffingHeader .sapSuiteDmcDelta {
   color: white;
   }
#idLinetracker1--shifStaffingHeader .sapSuiteDmcBarDeltaInt {
  background: #fe5000; }
#idLinetracker1--shifStaffingHeader .sapSuiteDmcBarDeltaStripe {
  background-color: #74D2E7; }

/*******************************
BOX RESOLUTION EFFICIENCY
********************************/
#idLinetracker1--boxResolutionEfficiency{
    .boxResolutionEfficiencyGoodValue{
        color: $dark-lime-green;
    }
    .boxResolutionEfficiencyBadValue {
        color: $blood-orange;
    }
}
#idLinetracker1--boxSLBEfficiecy_chart-chart-item-3,
#idLinetracker1--boxResolutionEfficiecy_chart-chart-item-3 {
    opacity: 0;
}
/*******************************
SHIFT STAFFING
********************************/

#idLinetracker1--shifStaffingHeader-dmc-chart .Left {
    background-color: $dark-lime-green;
}
#idLinetracker1--shifStaffingHeader{
    .sapSuiteDmcTitle,
    .sapSuiteDmcLbls{
        font-size: 0.8vw;
    }
    .sapSuiteDmcCnt {
        right: 2rem;
    }
    .sapSuiteDmcDelta {
        color: white;
    }
    .sapSuiteDmcBarDeltaInt {
        background: $blood-orange;
    }
    .sapSuiteDmcBarDeltaStripe {
        background-color: #74D2E7;
    }

}


/********************
KPI Header Content
*********************/
/*KPI header*/
#idLinetracker1--linetrackerStationKPI{
.classKpiHeaderContent {
  height: 195px;
  overflow-y: hidden; }
  .classKpiHeaderContent .contentHeaderCont {
    white-space: normal;
    background-color: #0f2d65;
    border-right: solid 1px #74d2e7;
    margin: 0px !important;
    border-bottom: none;
    border-top: solid 1px #74d2e7;
    padding: 0 5px; }
  .classKpiHeaderContent .contentHeaderCont:last-child {
    border-right: none !important; }
  .classKpiHeaderContent .sapSuiteCmpChartBarNoValue {
    background-color: rgba(187, 188, 188, 0.15); }
  .classKpiHeaderContent .kpiValue {
    font-size: 1.6vw;
    width: 100%;
    text-align: center !important; }
  .classKpiHeaderContent .kpiName {
    text-align: center !important;
    width: 100%; }
  .classKpiHeaderContent .whiteTextHeader {
    white-space: normal;
    text-align: center !important;
    color: #ffffff;
    width: 100%;
    font-size: 1vw; }
  .classKpiHeaderContent .sapSuiteCmpChartItemTitle, .classKpiHeaderContent .sapSuiteCmpChartItemValue,
  .classKpiHeaderContent label {
    color: #ffffff;
    font-size: 0.8vw; }
}
 /*KPI boxes*/

.kpiBoxes > .sapMFlexItem:first-child {
  height: 50px; }
  .kpiBoxes > .sapMFlexItem:first-child .sapMLabel {
    display: inline-block;
    vertical-align: middle !important;
    max-width: 100% !important;
    max-height: 50px; }

.labourEfficiencyBox .sapMFlexItem:nth-child(2) {
  height: 144px;
  display: inline-block;
  vertical-align: middle !important; }
  .labourEfficiencyBox .sapMFlexItem:nth-child(2) .sapMLabel {
    vertical-align: super !important;
    max-height: 144px; }

 /*general kpi*/

.kpiBoxExtraWork .sapMFlexItem {
  width: 100% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important; }
  .kpiBoxExtraWork .sapMFlexItem .sapMLabel {
    display: inline-block;
    max-width: 100% !important;
    vertical-align: middle !important; }
.kpiBoxExtraWork .sapMFlexItem:nth-child(2), .kpiBoxExtraWork .sapMFlexItem:nth-child(4) {
  height: 30px; }
  .kpiBoxExtraWork .sapMFlexItem:nth-child(2) .sapMLabel, .kpiBoxExtraWork .sapMFlexItem:nth-child(4) .sapMLabel {
    vertical-align: sub !important;
    max-height: 30px;
    font-size: 0.9vw; }
.kpiBoxExtraWork .sapMFlexItem:nth-child(3) .sapMLabel, .kpiBoxExtraWork .sapMFlexItem:nth-child(5) .sapMLabel {
  vertical-align: top !important;
  max-height: 42px; }

.kpiBody {
  height: 139px; }

.kpiBodyWithoutMargin {
  height: 144px; }

.kpiDeltaMicroChart {
  margin: 10px 0;
  height: 119px; }

.marginTopKpiBody {
  margin-top: 5px; }

.openDisruptionTotal {
  justify-content: inherit !important;
  padding-right: 5px; }
  .openDisruptionTotal .sapMFlexItem {
    width: 100% !important;
    line-height: normal;
    display: inline-block;
    vertical-align: middle !important; }
    .openDisruptionTotal .sapMFlexItem .sapMLabel {
      display: inline-block;
      max-width: 100% !important;
      vertical-align: middle !important; }
  .openDisruptionTotal .sapMFlexItem:nth-child(1) {
    height: 25px; }
    .openDisruptionTotal .sapMFlexItem:nth-child(1) .sapMLabel {
      vertical-align: middle !important;
      max-height: 25px;
      font-size: 0.9vw; }
  .openDisruptionTotal .sapMFlexItem:nth-child(2), .openDisruptionTotal .sapMFlexItem:nth-child(4) {
    height: 20px; }
    .openDisruptionTotal .sapMFlexItem:nth-child(2) .sapMLabel, .openDisruptionTotal .sapMFlexItem:nth-child(4) .sapMLabel {
      vertical-align: middle !important;
      max-height: 20px; }
  .openDisruptionTotal .sapMFlexItem:nth-child(3) .sapMLabel, .openDisruptionTotal .sapMFlexItem:nth-child(5) .sapMLabel {
    vertical-align: top !important;
    max-height: 30px; }

.taktAdherenceTrendBox > .sapMFlexItem {
  height: 100%; }

.whiteText {
  text-align: center !important;
  color: #ffffff;
  width: 100%; }

.redText {
  text-align: center !important;
  color: #fe5000 !important;
  width: 100%; }



.chartColumn {
  height: 100%; }
.chartColumn > .sapMFlexItem:nth-child(1) {
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid {
  width: 100%;
  height: 100%;
  padding: 0; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div {
  margin: 0 2%;
  width: 46% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important;
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div:nth-child(1) {
  text-align: -webkit-right !important; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div:nth-child(2) {
  text-align: -webkit-left !important; }
.chartColumn > .sapMFlexItem:nth-child(1) > .sapUiRespGrid > div .sapMLabel {
  display: inline-block;
  max-width: 100% !important;
  vertical-align: middle !important;
  max-height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(2) {
  height: 119px; }
.chartColumn > .sapMFlexItem:nth-child(3) {
  height: 25px;
  width: 100% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important; }
.chartColumn > .sapMFlexItem:nth-child(3) .sapMLabel {
  display: inline-block;
  max-width: 100% !important;
  vertical-align: bottom !important;
  max-height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(4) {
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(4) > .sapUiRespGrid {
  width: 100%;
  height: 100%;
  padding: 0; }
.chartColumn > .sapMFlexItem:nth-child(4) > .sapUiRespGrid > div {
  margin: 0;
  width: 50% !important;
  line-height: normal;
  display: inline-block;
  vertical-align: middle !important;
  height: 25px; }
.chartColumn > .sapMFlexItem:nth-child(4) > .sapUiRespGrid > div .sapMLabel {
  display: inline-block;
  max-width: 100% !important;
  vertical-align: middle !important;
  max-height: 25px; }

