////////////////////////////
//table
///////////////////////////
#missingPartsView--MPTable-table{
	>tbody {
		tr:nth-child(even) {background: #fff}
		tr:nth-child(odd) {background: #fcfcfc}
		tr:hover{background-color: #efefef}
		>tr{
			height : 46px;
			>td{
				text-align:left !important;
				border-left:1px solid $cool-grey-hover;
			}
		}
	}
}	

////////////////////////////
//labels
///////////////////////////	

.MPTLabel{
	color:black;
	padding-top: 8px;
    padding-left: inherit;
}


#missingPartsView--mpPage-title-inner{
	color:black;
}

#missingPartsView--searchField-F{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
	width: 280px
}
