/********************
RESSOURCEPOOL
*********************/
#resourcePool--pageHeader-BarLeft,#resourcePool--pageHeader-BarRight{
	padding-top:4px;
}

#resourcePool--resourcePooltitle{
	   color: #74d2e7;
    text-shadow: none;
    padding: 0px 30px;
    font-size: 0.875rem
}

#resourcePool--resourcePoolName{
    &.resourcePoolName{
        color: white;
        padding: 20px;
         border-left: 1px solid #8db9ca;
    }
}
.resourcePoolSubheader{
    background-color: $duck-egg-blue;
    border: none;
}
.myForm{
    width: 40em !important;
    @media screen and (max-width: 500px) {
        width: 15em !important;
    }
}
#resourcePool--navBack .sapMBtnIcon,
#resourcePool--navBack .sapMBtnContent{
    color: white;
}
#idUsersView{
    .fixHboxItemDisplay{
        .sapMFlexItem{
            width: 100%;
            word-break: break-all;
            word-break: break-word;
            span{
                display: inline-block;
            }
        }
        #idUsersView--searchAvailableUsers-search {
            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
            &.sapMSFBA{
                background-color: rgba(0, 0, 0, 0) !important;//avoid to have blue background-color from the library
            }
        }
        #idUsersView--searchAssignedUsers-search {
            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
            &.sapMSFBA{
                background-color: rgba(0, 0, 0, 0) !important;//avoid to have blue background-color from the library
            }
        }
    }
    .ylabelUserImage{
        @include ylabelUserImage();
    }
    .fixDsiplayRpImg{
        width:100%;
        .sapUiHLayoutChildWrapper{
            vertical-align: middle;
            &::nth-child(1){
                width: auto;
                margin:1%;
            }
            &::nth-child(2){
                width: 90%;
            }
        }
    }
}
#idWorkCenterView{
    .fixHboxItemDisplay{
        .sapMFlexItem{
            width: 100%;
            word-break: break-all;
            word-break: break-word;
            span{
                display: inline-block;
            }
        }
        #idWorkCenterView--searchAvailableWC-search {
            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
            &.sapMSFBA{
                background-color: rgba(0, 0, 0, 0)b !important;//avoid to have blue background-color from the library
            }
        }
        #idWorkCenterView--searchAssignedWC-search {
            &:hover {
                background-color: rgba(0, 0, 0, 0);
            }
            &.sapMSFBA{
                background-color: rgba(0, 0, 0, 0) !important;//avoid to have blue background-color from the library
            }
        }
    }
}
.colorSelect{
    background-color: green;
}

.panelBorder{
    border-style: groove;
    *border-style: 1px solid #c0c0c0 !important;
}

//buttons in the center of resourcepool
.shiftButtons{
    width: auto !important;
    margin: 2%;
    >div {
        >button{
            &:hover {
                >div {
                    background-color: $sapui-hover-grey !important;
                    >span {
                        color: $white-two;
                    }
                }
            }
        }
        &:first-child{
            span {
                margin-top: 1px;
                margin-left: 2px;
            }
        }
        &:nth-child(2){
            span {
                margin-top: 1px;
                margin-right: 2px;
            }
        }
    }
}

.messageStrip{
    span{
        display: inline !important;
        line-height: normal !important;
        padding: 0px !important;
    }
}
.headerText{
    font-size: x-large !important;
}
.panelHeaderCustomStyle{
    font-size: 1.125rem !important;
    line-height: inherit !important;
}
.iconMiddle{
    .sapMBtnIcon{
        width: 100% !important;
    }
}
.yellowColor{
    background-color: antiquewhite !important;
}
.loanColor{
    background-color: #dcd9d9 !important;
}

.Error{
    color: red;
}
.fontWeight700{
    font-weight: 700;
}
.padding8{
    padding: 8px;
}
.helpDialogue{
    height: 100%;
    background: $white-two;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
    .sapMDialogTitle{
        color: #434343;
    }
}
.floatRight{
    margin: .5rem 1rem 0px 0;
    float: right !important;
    color: #666666;
    white-space: nowrap;
    vertical-align: middle;
    text-overflow: ellipsis;
    overflow: hidden;
    margin-left: 60px;
    max-width: 80px;
}
.customlistTitle{
    font-size: 1rem;
    margin-top: .5rem;
    margin-top: 18px;
    width: 160px;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 160px;
}
.listItemDescrption{
    margin-top: .5rem;
    margin-bottom: .5rem;
    color: #666666;
}
.blueBorderChange{
    border-color: #009DE0;
    border-style: solid;
    border-bottom-width: 1px;
    border-top-width: 1px;
    border-left-width: 1px;
    border-right-width: 1px;
}
#searchResourcePool--searchRessourcePoolDialog{
    background: $white-two;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}
#searchResourcePool--searchRessourcePoolDialog-header-BarPH{
    background: #d4f1f7;
}
#searchResourcePool--searchRessourcePoolDialog-title{
    color: #434343;
}
#searchResourcePool--searchRessourcePoolDialog-cont{
    border-top: 3px solid rgba(255, 255, 255, 0);
}
#searchResourcePool--searchRessourcePoolDialog-header{
    box-shadow: 0 0 5px #333;
    overflow: visible;
}
#searchResourcePool--searchRessourcePoolDialog-footer{
    background-color: $teal-blue-hover;
}
[id^="searchResourcePool--searchRessourcePoolDialog"]{
    .sapMFlexItem{
        padding: 0 5px;
    }
    .sapMBtnDisabled{
        opacity: 1;
    }
    .sapUiRFL{
        &.sapUiRLContainer{
            &>div{
                &:first-child{
                    display: none;
                }
            }
        }
    }
}
#valueHelp--selectDialog-dialog{
    background: $white-two;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}
#valueHelp--selectDialog-dialog-header-BarPH{
    background: #d4f1f7;
}
#valueHelp--selectDialog-dialog-title{
    color: #434343;
}
#valueHelp--selectDialog-dialog-header{
    box-shadow: 0 0 5px #333;
    overflow: visible;
}
#valueHelp--selectDialog-dialog-footer{
    background-color: $teal-blue-hover;
}
[id^="valueHelp--selectDialog-dialog"]{
    .sapMFlexItem{
        padding: 0 5px;
    }
    .sapMBtnDisabled{
        opacity: 1;
    }
}
#resourcePool{
    header{
        &.sapMSubHeader-CTX{
            @extend %kpiPageHeader;
        }
    }
    .sapMPageWithSubHeader{
        &>section{
            top: calc(3rem + 18px);
            .resourcePoolSubheader{
                li{
                    height: 3rem;
                    line-height: 3rem;
                    display: inline-block;
                    font-size: 1.075rem;
                    vertical-align: top;
                    border: none;
                    color: #0D5D76;
                    border-left: 1px solid #8db9ca;
                    &:hover{
                        background-color: $petrol-20;
                    }
                    background-color: transparent;
                    &>span{
                        display: inline-block;
                        vertical-align: top;
                        padding: 0.250rem 0.25rem 0.250rem 0;
                        color: #0D5D76;
                    }
                    &.sapMSegBBtn{
                        &.sapMSegBBtnFocusable{
                            &.sapMSegBBtnMixed{
                                &.sapMSegBBtnSel{
                                    &>span{
                                        color: $white-two;
                                    }
                                }
                            }
                            &.sapMSegBBtnSel{
                                background-color: #74D2E7;
                                color: white;
                                
                            }
                        }
                    }
                }
                ul{
                    height: 3rem;
                    margin: 0;
                }
            }
        }
    }
    .sapMIBar{
        &.sapMHeader-CTX{
            margin: 0;
            background-color: $duck-egg-blue;
            text-align: left;
            span{
                float: left;
                color: #0D5D76;
                text-shadow: none;
            }
        }
    }
    section{
        &[role^="form"]{
            border: 1px solid #e5e5e5;
        }
    }
    .sapMNavItem{
        left: 15px;
        Top: 15px;
        right: 15px;
    }
    .sapMPanelContent{
        padding: 0;
    }
    .sapMFlexItem{
        .sapMBtnInner{
            border-radius: 50%;
            border: none;
            background: #bfbfbf;
            text-shadow: 0 0;
        }
        button{
            &[title^="navigation-right-arrow"]{
                .sapMBtnInner{
                    span{
                        left: 3px;
                        position: absolute;
                        top: 1px;
                        right: 0;
                        bottom: 0;
                    }
                }
            }
            &[title^="navigation-left-arrow"]{
                .sapMBtnInner{
                    span{
                        left: 0;
                        position: absolute;
                        top: 1px;
                        right: 3px;
                        bottom: 0;
                    }
                }
            }
        }
    }
    .sapMTB-Transparent-CTX.sapMTB{
        padding: 0;
        border: 0;
        position: relative;
        z-index: 1;
    }
    .sapMSFF{
        border-radius: 3em;
        border: 2px solid #74D2E7;
        color: #74D2E7;
        overflow: hidden;
    }
    @at-root #resourcePool .sapMSFF input,
        #resourcePool .sapMSFF .sapMSFB.sapMSFS{
            color: #74D2E7;
    }
    .sapMBarChild{
        &.sapMCb{
            .sapMCbBg{
                &:not(:hover) {
                    border: solid 0.125rem #74D2E7;
                }
            }
        }
    }
    @at-root #resourcePool .sapMIBar.sapMTB.sapMTB-Info-CTX.sapMTB>*,
        #resourcePool .sapMIBar.sapMTB.sapMTB-Info-CTX.sapMTB>:first-child,
        #resourcePool .sapMIBar.sapMTB.sapMTB-Info-CTX.sapMTB>:last-child{
            margin: 0 0 0 1px;
            border: 0;
    }
    .sapMTB-Info-CTX{
        &.sapMTB{
            border: none !important;
            padding: 0;
            margin-top: -1px;
            position: relative;
            z-index: 2;
            background: $white-two;
            height: auto;
        }
    }
}
::-webkit-input-placeholder{
    color: #74D2E7;
}
:-moz-placeholder{
    color: #74D2E7;
    opacity: 1;
}
::-moz-placeholder{
    color: #74D2E7;
    opacity: 1;
}
:-ms-input-placeholder{
    color: #74D2E7;
}
.deleteConfirmation{
    background: $white-two;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
    &.sapMMessageDialog{
        &.sapMPopup-CTX{
            &>header{
                &.sapMDialogTitle{
                    background: #d4f1f7;
                    box-shadow: 0 0 5px #333;
                    overflow: visible;
                }
            }
        }
    }
    .sapMDialogTitle{
        color: #434343;
    }
}
.sap-desktop{
    .deleteConfirmation{
        .sapMIBar{
            &.sapMFooter-CTX{
                background-color: $teal-blue-hover;
            }
        }
    }
    .helpDialogue{
        .sapMIBar{
            &.sapMHeader-CTX{
                background: #d4f1f7;
                box-shadow: 0 0 5px #333;
                overflow: visible;
            }
            &.sapMFooter-CTX{
                background-color: $teal-blue-hover;
            }
        }
    }
    #resourcePool{
        .resourcePoolSubheader{
            button{
                &:hover {
                    >.sapMBtnTransparent{
                        background-color: $petrol-20;
                    }
                }
                &>.sapMBtnTransparent{
                    &>.sapMBtnIcon{
                        color: #0D5D76;
                        line-height: 3rem;
                        max-height: 3rem;
                        display: block;
                    }
                    border-radius: 0;
                    border: 0;
                    height: 3rem;
                    padding: 0 0.25rem;
                }
            }
        }
        button{
            padding: 0;
            margin: 0 0.25rem !important;
        }
    }
}

#searchResourcePool--searchForm--Layout {
    .sapMBtnReject {
        background-color: rgb(204, 25, 25);
        &:hover:not(.sapMBtnActive) {
            background-color:#b51616;
        }
    }
}

