.elementContainer{
    margin: 15% 0% 0% 22%;
}
.PanelbgImg2{
    background-color: white;
    opacity: 3%;
    display: block;
    background-size: 100% 100%;
}
.elementContainer-header{
    background-color: lightgrey;
}

.buttonLoad{
    &>.sapMBtnText{
        color: white !important;
    }
}

.GenricBgColor{
    background-color: #EBEEF2;
}

.titleToolbar{
    background-color: #D8D8D8;
}

.subHeader{
    background-color: white !important;
}

.subHeaderText{
    color: black !important;
    font-style: normal !important;

}
.whiteButton{
    .sapMBtnIcon{
        color: white;
    }
}
.topPageHeader {
    color: white !important;
    background: #0F2D65 ! important;
    border: 0;
}
.pageHeader {
    color: white !important;
    background: #0F2D65 ! important;
    border: 0;
}
.classSettingPage{
    .pageHeader{
        @extend %pageHeader;
        span{
            font-size: 1.2rem;
            color: white;
        }
    }
}
.sapMPage{
    .classSettingPage{
        &>.sapMPageHeader{
            &+.sapMPageSubHeader{
                &+section{
                    margin-top:0.55rem;
                }
            }
        }
    }
    &>.sapMPageHeader{
        &+.sapMPageSubHeader{
            &+section{
                background-color: white;
            }
        }
    }
}
.pageTitle{
    min-width: 130px;
    @include textHeader(24px, #ffffff !important);
}
.classListProgram{
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    margin-top: 0.8rem!important;
    margin-left: 0.8rem!important;
    .sapMLIBContent{
        .sapMHBox{
            .sapMFlexItem{
                &:nth-child(2){
                    &:before{
                        content: ' ';
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                    }
                }
            }
        }
        div{
            &>div{
                &:nth-child(2){
                    text-align:center;
                    img{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
.classListProgramRadioBtn{
    .sapMRbB{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        .sapMRbBOut{
            margin: 1.2rem 0 1.2rem 1.2rem;
            border: 2px solid #73d2e6;
        }
    }
    label{
        display: inline-block;
        vertical-align: middle;
    }
}
.classOtherSetting {
    border: 1px solid #e5e5e5;
    margin-top: 0.8rem!important;
    @at-root .classOtherSetting .sapUiFormTitle,
    .classListProgram .sapMListHdr,
    .classSelectListBox .sapMListHdr {
        text-shadow: none;
        @at-root .classOtherSetting .sapUiFormTitle,
        .classListProgram .sapMListHdr {
            border-bottom: 1px solid #e5e5e5;
        }
    }
    label{
        color:rgba(0, 86, 112, 0.94);
    }
    .sapUiFormM{
        .sapUiFormResGridCont{
            padding: 0.6rem!important;
        }
    }
}
.classSelectListBox{
    margin-top: 0.8rem;
    border: 1px solid #e5e5e5;
    border-right:none;
    .sapMBar{
        label{
            @extend %classSelectListBox;
        }
    }
    .sapMListHdr{
        border:none
    }
}
.classSelectList{
    max-width: 100%;
    margin: 0!important;
    border: none;
    &>li{
        border-bottom: 1px solid #e5e5e5;
        &:last-child{
            border-bottom: none;
        }
    }
}
.pageWelcome{
    @include textHeader(24px, #ffffff !important);
}
.pageUsername{
    color: white !important;
    font-family: "Arial", Sans-serif !important;
    font-size: 14px !important;
}
.sapMListHdr{
    background-color: #d5f1f8;
}
.sap-desktop{
    .sapMIBar{
        .sapMHeader-CTX{
            background: rgba(0, 32, 91, 0.94);
        }
    }
}
.sapMIBar-CTX{
    .sapMTitle{
        color: white;
    }
}
.sapUiFormTitle{
    background-color: #d5f1f8;
    .sapUiFormTitle{
        color: white;
    }
}
.sapMPageHeader{
    &::before{
        border-top: 0rem solid #92C0E4;
    }
}
.sapMIBar{
    .sapMSubHeader-CTX{
        background-color: #d5f1f8;
    }
}
#globalNavView{
    .sapMIBar-CTX{
        .sapMBtnTransparent{
            color:#ffffff;
        }
    }
}
[id^="settingsView--nav"]{
    color: rgba(0, 86, 112, 0.94);
    font-weight: bold;
}
[id^="settingsView--currMSN"]{
    font-weight: bold;
}
[id^="settingsView--headText"]{
    color: rgba(0, 86, 112, 0.94);
    &>.sapUiForm{
        .sapUiFormTitle{
            color: rgba(0, 86, 112, 0.94);
        }
    }
}
[id^="settingsView--nav"]{
    &>.sapMBtnIcon{
        color: rgba(0, 86, 112, 0.94) !important;
    }
}

/***************************
POP-UP CONFIRM DELETE DIALOG
****************************/
#messageDialog--errorMessageDialog{
    background: #ffffff;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}

#messageDialog--errorMessageDialog-header-BarPH{
    background:#d4f1f7;

}
#messageDialog--errorMessageDialog-title{
    color:#434343;
}
#messageDialog--errorMessageDialog-cont{
    border-top:3px solid  rgba(255, 255, 255, 0);
}
#messageDialog--errorMessageDialog-header{
    box-shadow: 0 0 5px #333;
    overflow: visible;
}
#messageDialog--errorMessageDialog-footer{
    background-color:#0F2D65;
}
/*******************************
END POP-UP CONFIRM DELETE DIALOG
********************************/
html{
    &.sap-desktop{
        .sapMBtn{
            &:focus{
                &>.sapMBtnInner{
                    &.sapMFocusable{
                        background-color: none;
                        outline:1px dotted transparent;
                        border-color:transparent;
                    }
                }
            }
        }
        .pageHeader{
            .sapMBarMiddle{
                .sapMBarChild{
                    text-shadow: none;
                }
            }
        }
        .sapMBar-CTX{
            &:not(.sapMBtnDisabled){
                &>.sapMBtnInner{
                    &.sapMBtnActive{
                        background-color: #73d2e6;
                    }
                }
            }
        }
        .sapMBtnTransparent{
            &>.sapMBtnIcon{
                color:#ffffff;
            }
        }
    }
}

.customComboBox {
    button {
        border: 1px solid #ccc;
        border-left: 0;
    }
    &:hover {
        button {
            border: 1px solid #74d2e7;
            border-left: 0;
        }
    }
}
#globalNavView--SelectLanguage-arrow {
        background: #0F2D65 !important;
}