.GenricBgColor{
    background-color: #EBEEF2;
}

.subHeader{
    background-color: white !important;
}

.whiteButton{
    .sapMBtnIcon{
        color: white;
    }
}
.topPageHeader {
    color: white !important;
    background: $teal-blue-hover ! important;
    border: 0;
    >img#globalNavView--logo {
        margin-right: 0;
        padding: 0 20px;
    }
    >label.pageTitle {
        margin-left: 20px;
    }
}
.pageHeader {
    color: white !important;
    background: $teal-blue-hover ! important;
    border: 0;
    height: 57px;
}
.classSettingPage{
    .pageHeader{
        @extend %pageHeader;
        span{
            font-size: 1.2rem;
            color: white;
        }
    }
}
.sapMPage{
    .classSettingPage{
        &>.sapMPageHeader{
            &+.sapMPageSubHeader{
                &+section{
                    margin-top:0.55rem;
                }
            }
        }
    }
    &>.sapMPageHeader{
        &+.sapMPageSubHeader{
            &+section{
                background-color: white;
            }
        }
    }
}
#globalNavView {
    >.sapMPage {
        >.sapMPageHeader {
            >label.unshrinkable {
                flex-shrink: 0;
                #__label0{
           		    padding: 0 0 0 20px;
           		}
            }
           	
        }
    }
}
.pageTitle{
    @include textHeader(17px, $white-two !important);
}
.classListProgram{
    border: 1px solid #e5e5e5;
    border-bottom: 0;
    margin-top: 0.8rem!important;
    margin-left: 0.8rem!important;
    .sapMLIBContent{
        .sapMHBox{
            .sapMFlexItem{
                &:nth-child(2){
                    &:before{
                        content: ' ';
                        display: inline-block;
                        vertical-align: middle;
                        height: 100%;
                    }
                }
            }
        }
        div{
            &>div{
                &:nth-child(2){
                    text-align:center;
                    img{
                        display: inline-block;
                        vertical-align: middle;
                    }
                }
            }
        }
    }
}
.classListProgramRadioBtn{
    .sapMRbB{
        display: inline-block;
        vertical-align: middle;
        height: 100%;
        .sapMRbBOut{
            border: 2px solid $twilight-blue;
        }
    }
    label{
        display: inline-block;
        vertical-align: middle;
    }
}
.classOtherSetting {
    border: 1px solid #e5e5e5;
    margin-top: 0.8rem!important;
    @at-root .classOtherSetting .sapUiFormTitle,
    .classListProgram .sapMListHdr,
    .classSelectListBox .sapMListHdr {
        text-shadow: none;
        @at-root .classOtherSetting .sapUiFormTitle,
        .classListProgram .sapMListHdr {
            border-bottom: 1px solid #e5e5e5;
        }
    }
    label{
        color:$petrol;
    }
    .sapUiFormM{
        .sapUiFormResGridCont{
            padding: 0.6rem!important;
        }
    }
}
.classSelectListBox{
    margin-top: 0.8rem;
    border: 1px solid #e5e5e5;
    border-right:none;
    .sapMBar{
        label{
            @extend %classSelectListBox;
        }
    }
    .sapMListHdr{
        border:none
    }
}
.classSelectList{
    max-width: 100%;
    margin: 0!important;
    border: none;
    &>li{
        border-bottom: 1px solid #e5e5e5;
        &:last-child{
            border-bottom: none;
        }
    }
}
.pageWelcome{
    @include textHeader(17px, $white-two !important);
}
.sapMListHdr{
    background-color: $duck-egg-blue;
}
.sap-desktop{
    .sapMIBar{
        .sapMHeader-CTX{
            background: $navy-blue;
        }
    }
}
.sapMIBar-CTX{
    .sapMTitle{
        color: white;
    }
}
.sapUiFormTitle{
    background-color: $duck-egg-blue;
    .sapUiFormTitle{
        color: white;
    }
}
.sapMPageHeader{
    &::before{
        border-top: 0rem solid #92C0E4;
    }
}
.sapMIBar{
    .sapMSubHeader-CTX{
        background-color: $duck-egg-blue;
    }
}
#globalNavView{
    .sapMIBar-CTX{
        .sapMBtnTransparent{
            color:$white-two;
        }
    }
}
[id^="settingsView--nav"]{
    color: $petrol;
    font-weight: bold;
}
[id^="settingsView--currMSN"]{
    font-weight: bold;
}
[id^="settingsView--headText"]{
    color: $petrol;
    &>.sapUiForm{
        .sapUiFormTitle{
            color: $petrol;
        }
    }
}
[id^="settingsView--nav"]{
    &>.sapMBtnIcon{
        color: $petrol !important;
    }
}

/***************************
POP-UP CONFIRM DELETE DIALOG
****************************/
#messageDialog--errorMessageDialog{
    background: $white-two;
    border: none;
    border-radius: 0;
    box-shadow: 0 0 5px #333;
}

#messageDialog--errorMessageDialog-header-BarPH{
    background:#d4f1f7;

}
#messageDialog--errorMessageDialog-title{
    color:#434343;
}
#messageDialog--errorMessageDialog-cont{
    border-top:3px solid  rgba(255, 255, 255, 0);
}
#messageDialog--errorMessageDialog-header{
    box-shadow: 0 0 5px #333;
    overflow: visible;
}
#messageDialog--errorMessageDialog-footer{
    background-color:$teal-blue-hover;
}
/*******************************
END POP-UP CONFIRM DELETE DIALOG
********************************/
html{
    &.sap-desktop{
        .sapMBtn{
            &:focus{
                &>.sapMBtnInner{
                    &.sapMFocusable{
                        background-color: none;
                        outline:1px dotted transparent;
                        border-color:transparent;
                    }
                }
            }
        }
        .pageHeader{
            .sapMBarMiddle{
                .sapMBarChild{
                    text-shadow: none;
                }
            }
        }
        .sapMBar-CTX{
            &:not(.sapMBtnDisabled){
                &>.sapMBtnInner{
                    &.sapMBtnActive{
                        background-color: $twilight-blue;
                    }
                }
            }
        }
        .sapMBtnTransparent{
            &>.sapMBtnIcon{
                color:$white-two;
            }
        }
    }
}
.customComboBox {
    button {
        border: 1px solid $ligth-grey;
        border-left: 0;
    }
    &:hover {
        >* {
            border: 1px solid $twilight-blue !important;
        }
        >button {
            border-left: 0 !important;
        }
    }
}
#globalNavView--SelectLanguage-arrow {
    background: $teal-blue-hover !important;
}

// MyProfile css
#badgeMngMyProfile-header {
    box-shadow: 0 0 5px #333 !important;
    background-color: #fff !important;
    z-index: 1;
}

#badgeMngMyProfile-title {
    color: #333333;
}

#badgeMngMyProfile-cont {
    background: #f5f5f5 !important;
}

// header station selector
#settingsView--settingsSubHeader {
    background-color: $duck-egg-blue;
    > div {
        > button {
            & >.sapMBtnActive {
                background-color: $twilight-blue;
                @include backgroundColorTransition(0.2s);
            }
            &:hover {
                > div:not(.sapMBtnActive) {
                    background-color: $petrol-20;
                    @include backgroundColorTransition(0.2s);
                }
            }
        }
    }
}

#settingsView--headTextProgram-listUl {
    >li {
        .classListProgramRadioBtn {
            padding: 12px 0 12px 12px;
            height: 3rem;
            >div {
                padding: 0;
                padding-right: 5px;
            }
            >label {
                margin-left: 0;
                padding-left: .8125rem;
                text-align: left;
                padding-right: .8125rem;
            }
            &:not(.sapMRbDis):hover {
                >* {
                    background-color: #f0f0f0;
                    @include backgroundColorTransition(0.2s);
                }
            }
            &.sapMRbBTouched {
                >*{
                    background-color: $sapui-blue !important;
                }
                >label {
                    color:$white-two;
                }
            }
        }
    }
}
