#trackingtemplateView {
  height: 100% !important;
  overflow: auto !important;
}
.trackingTemplate {
  .trackingTemplateButton {
    .sapMBtnInner.sapMBtnText.sapMBtnBack,
    .sapMBtnInner.sapMBtnText.sapMBtnIconFirst {
      border: none;
      background: transparent;
      color: $petrol;
    }

    .sapMBtnInner.sapMBtnText.sapMBtnIconFirst:hover {
      background: $sapui-grey-hover
    }

    .sapUiIcon:before {
      color: $petrol;
    }
  }

  .sapMPanelBGTranslucent .sapMPanelContent {
    margin:0;
  }
  
  .sapMInputBase.sapMTextArea {
    width: 100%;
  }
  .sapUiFupGroup {
    .sapUiIcon:before {
      color: $petrol;
    }
  }

  .reasonCodeContainer {
    .sapMPanelContent {
      display: inline-flex;
      padding : 0 1rem;
    }
    .sapMPanelContent:not(.sapMPanelBGTransparent) {
      border: 0;
    }
    label {
      margin: auto;
      margin-right: 10px;
    }
  }
}