// Global Button reset
#mes {
	.sapMToggleBtnPressed {
    background-image: none;
    background-color: transparent;
    border-color: transparent;
    color: transparent;
    text-shadow: none;		
	}
}


// End