.labels_a {
    background-color: #ffffff;
    width: 100%;
    padding:1rem !important;
}
.imgSize{
	width: 1px
	height: 1px
}
.titleFont{
	font-size: x-large;
	font-weight: bold;
	padding:1rem !important;
}
.boxColorRed{
	    background: red;
	   	 
}
.boxColorGrey{
	 background: grey;
	 
}
.boxColorGreen{
	 background: green;
	 
}
.boxColorYellow{
	 background: yellow;
	 
}
.circle_image{
	border-radius: 50%;
    background: #00a1ff;
}
.operatorInitials{
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1rem !important;
  color: #eae5de !important;
  line-height: 1.5rem !important;
  background: #09D;
  border-radius: 50%;
  text-align: center !important;
}
.rem1width{
	width:1rem
}
.sapSuiteClMCBar.sapSuiteClMCSemanticColorGood{
	background-color: #3573d0 !important;
}
.bar1Color{
	background-color: #3573d0 !important	
}
.capacity{
	 font-size:1.5rem; 
}
.marg_1rem{
	margin-top:1rem;
}
.alg_cap{
	margin-top:-1rem;
}
.sapUiSmallMarginTop{
	    margin-top: 0.5rem!important;
}
.textsize{	
	font-size: 0.5rem !important;
}
.barColor{
    background-color: #61A6FE !important;
}

.container {
    position: relative;
    display:inline-block;
}
.text-area {
    width: 200px;
    height: 50px;
    border:1px solid #ccc;
    display:inline-block;
}

.icon-example:after {
    content: url(http://www.stat.ncsu.edu/dept-icons/camera-icon.gif);
    position:absolute;
    z-index:9999;
    right: 3px;
    bottom: 6px;
}

.hidden {
    display:none;
    margin-left: -150px;
}

.camAttach{
	margin-left: -133px;
/*     margin-top: 15px; */
    position: absolute;
}
.camtoTA{
	margin-left: -62px;
    margin-top: 10px;
}